{% load flareaid_extras %}
{% if object.decision_aid %}
<div class="row">
  <div class="col-sm">
    {% if object.decision_aid|get_key:'drug1'|get_key:'drug' == "prednisone" %}
      <h4>
      {% if object.prednisone %}
        <a href="{% url 'treatment:detail' 'prednisone' object.prednisone.pk %}">Treatment</a>: {{ object.prednisone }}
      {% else %}
        Treatment: {{ object.decision_string }}
      {% endif %}
      </h4>
    {% elif object.decision_aid|get_key:'drug1'|get_key:'drug' == "ibuprofen" or object.decision_aid|get_key:'drug2'|get_key:'drug' == "naproxen" %}
      {% if object.naproxen %}
        <h4><a href="{% url 'treatment:detail' 'naproxen' object.naproxen.pk %}">Treatment</a>: {{ object.naproxen }}</h4>
      {% elif object.ibuprofen %}
        <h4><a href="{% url 'treatment:detail' 'ibuprofen' object.ibuprofen.pk %}">Treatment</a>: {{ object.ibuprofen }}</h4>
      {% else %}
          <h4 class="or">
            <a href="{% url 'treatment:about' object.decision_aid|get_key:'drug2'|get_key:'drug' %}">
              {{ object.decision_aid|get_key:'drug2'|get_key:'drug' }}
            </a>
          </h4>
          <li class="or">
            <form method="post"
              action="{% url 'treatment:flareaid-create' pk=object.pk treatment=object.decision_aid|get_key:'drug2'|get_key:'drug' %}">
              {% csrf_token %}
              <button class="btn btn-primary btn-sm" role="button" id="treatment-create" type="submit"
                value="treatment">Create</button>
            </form>
          </li>
          <li class="or">
            {{ object.decision_string }}
          </li>
          </div>
          <div class="col-sm">
            <h4 class="or"><b>OR</b></h4>
          </div>
          <div class="col-sm">
            <h4 class="or">
              <a href="{% url 'treatment:about' object.decision_aid|get_key:'drug1'|get_key:'drug' %}">
                {{ object.decision_aid|get_key:'drug1'|get_key:'drug' }}
              </a>
            </h4>
            <li class="or">
              <form method="post"
                action="{% url 'treatment:flareaid-create' pk=object.pk treatment=object.decision_aid|get_key:'drug1'|get_key:'drug' %}">
                {% csrf_token %}
                <button class="btn btn-primary btn-sm" role="button" id="treatment-create" type="submit"
                  value="treatment">Create</button>
              </form>
            </li>
            <li class="or">
              {{ object.decision_string }}
            </li>
      {% endif %}
    {% elif object.decision_aid|get_key:'drug1'|get_key:'drug' == "colchicine" %}
      <h4>
      {% if object.colchicine %}
      <a href="{% url 'treatment:detail' 'colchicine' object.colchicine.pk %}">Treatment</a>: {{ object.colchicine }}
      {% else %}
      Treatment: {{ object.decision_string }}
      {% endif %}
      {% if object.colchicine_interactions is None %}
        <span><b>WARNING</b>: You did not report whether or not you have any <a
            href="#colchicine_contraindications">contraindications</a> to using colchicine. This could potentially
          change the recommendation and/or be dangerous.
          {% if request.user.is_authenticated %}
          <a href="{% url 'flareaid:update' object.pk %}">
            <b>Update</b>
          </a>
          your history for better recommendations.
          {% else %}
          Submit a
          <a href="{% url 'flareaid:create' %}">
            <b>new</b>
          </a>
          set of info for better recommendations.
          {% endif %}
        </span>
      {% endif %}
      </h4>
    {% endif %}

  {% if object.decision_aid|get_key:'drug1'|get_key:'drug' == "ibuprofen" or object.decision_aid|get_key:'drug2'|get_key:'drug' == "naproxen" %}

  {% elif object.decision_aid|get_key:'drug1'|get_key:'drug' == "prednisone" %}
  <div class="col-auto">
    <h3>
      <a href="{% url 'treatment:about' 'steroids' %}">
        Prednisone
      </a>
       (Prescription Only)</h3>
    <li>
      {{ object.decision_string }}
  </div>
  {% elif object.decision_aid|get_key:'needinfo' == True %}
    <span>We really need more information if we are going to make a quality recommendation. Start by telling us
      whether or not you are in perfect health.</span>
  {% elif object.decision_aid|get_key:'doctor' == True  %}
    <span>Your medical situation is complex enough that you should see a doctor, ideally a <a
        href="https://en.wikipedia.org/wiki/Rheumatology" target="_blank">rheumatologist</a>, for your gout flare treatment.</span>
  {% endif %}

    </div>
  </div>
  {% if object.monoarticular == True %}
    <div class="row">
      <div class="col" style="text-align:center;">
        <br>
        <h2>Alternative: Joint Injection</h2>
        <p>Performed by your rheumatologist or other provider</p>
      </div>
    </div>

  {% endif %}
{% endif %}
