{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="container content-container">
      {% block header %}
        <div class="row">
          <div class="col">
        {% if object.decision_aid != "Need More Information" %}
          <a class="btn btn-primary btn-lg" href="{% url 'flareaid:create' %}" role="button">New</a>
          {% if request.user.is_authenticated %}
            <a class="btn btn-primary btn-lg" href="{% url 'flareaid:update' object.pk %}" role="button">Update</a>
          {% endif %}
          {% if object.decision_aid == "NSAID" %}
            <a class="btn btn-primary btn-lg" href="{% url 'treatment:about' 'ibuprofen' %}" role="button">About</a>
          {% elif object.decision_aid == "colchicine" %}
            <a class="btn btn-primary btn-lg" href="{% url 'treatment:about' 'colchicine' %}" role="button">About</a>
          {% elif object.decision_aid == "steroids" %}
            <a class="btn btn-primary btn-lg" href="{% url 'treatment:about' 'steroids' %}" role="button">About</a>
          {% endif %}
        {% else %}
          {% if request.user.is_authenticated %}
            <a class="btn btn-primary btn-lg" href="{% url 'flareaid:update' object.pk %}" role="button">Update</a>
          {% else %}
            <a class="btn btn-primary btn-lg" href="{% url 'flareaid:create' %}" role="button">New</a>
          {% endif %}
        {% endif %}
        <h1 id="rec">Flare Treatment:
          {% if object.decision_aid == "doctor" %}
            See a Doctor
          {% else %}
            {{ object.decision_aid }}
          {% endif %}
        </h1>
        </div>
      </div>
      {% endblock header %}
      {% block recommendation %}
        {% include 'flareaid/recommendation.html' %}
      {% endblock recommendation %}
      {% block quicklinks %}
      <hr size="6" color="white">
      <h2 class="content-heading">Quick Links</h2>
      <ol id="quick-link-list">
        <li><a href="#explanation">Explanation</a></li>
        <li><a href="#methodology">Methodology</a></li>
        {% if object.decision_aid != "doctor" %}
          <li><a href="#options">Options</a></li>
        {% endif %}
        <li><a href="#references">References</a></li>
      </ol>
      {% endblock quicklinks %}
      {% block explanation %}
        {% include 'flareaid/explanation.html' %}
      {% endblock explanation %}
      {% block methodology %}
        {% include 'flareaid/methodology.html' %}
      {% endblock methodology %}
      {% block options %}
        {% include 'flareaid/options.html' %}
      {% endblock options %}
      {% block references %}
        {% include 'flareaid/references.html' %}
      {% endblock references %}
  <hr size="6" color="white">
  {% block footer %}
    <div class="row">
      <div class="col">
        <u><a href="#rec">Back to Top</a></u>
      </div>
      <div class="col" id="edited">
        {% if request.user.is_anonymous %}
          <span>{{ object.created.date }}</span>
        {% elif request.user %}
          <span>{{ request.user|capfirst }} {{ object.created.date }}</span>
        {% endif %}
      </div>
    </div>
  {% endblock footer %}
</main>
{% endblock content %}
