{% extends "base_form.html" %}
{% load crispy_forms_tags %}
{% block title %}
{% if form.instance.pk %} Update Flare {% else %} New Flare {% endif %} {% endblock%}
{% block header %}
{% if form.instance.pk %}
<h1 class="flareaid-form">Update Flare Aid</h1>
{% else %}
<h1>New Flare Aid</h1>
{% endif %} {% endblock header %} {% block form %} {% if form.instance.pk %}
<form
  class="form-horizontal default-container"
  method="post"
  action="{% url 'flareaid:update' object.pk %}"
  enctype="multipart/form-data">
  {% csrf_token %} {% crispy form %}
</form>
{% else %}
<form class="form-horizontal default-container" method="post" action="{% url 'flareaid:create' %}">
  {% csrf_token %} {% crispy form %}
</form>
{% endif %}
{% endblock form %}
{% block inline_javascript %}
<script>
  $(document).ready(function () {
    // sets up FlareAid Create page by hiding all fields other than whether or not one is in perfect health
    flare_aid_initial();
  });
  $(document).ready(function () {
    // checks if perfect_health is true and, if so, displays only monoarticular field, else displays long list of other fields to fill out
    $("#id_perfect_health").change(flare_aid_fields);
    flare_aid_fields.call($("#id_perfect_health").get(0));
  });
  $(document).ready(function () {
  // checks if perfect_health is true and, if so, displays only monoarticular field, else displays long list of other
  $("#id_CKD-value").change(flare_aid_dialysis);
  flare_aid_dialysis.call($("#id_CKD-value").get(0));
  });
  jQuery(function($) {
    var path = window.location.href;
    $('li a').each(function() {
    if (this.href === path) {
    $(this).addClass('active');
    }
    else {
    $(this).removeClass('active');
    }
    });
  });
</script>
{% endblock inline_javascript %}
