{% load flareaid_extras %}
{% if object.decision_aid %}
<div class="row">
  <div class="col-sm">
  {% if object.decision_aid|get_key:'drug1'|get_key:'drug' == "ibuprofen" or object.decision_aid|get_key:'drug2'|get_key:'drug' == "naproxen" %}
    <h2 class="or">
      <a href="{% url 'treatment:about' object.decision_aid|get_key:'drug2'|get_key:'drug' %}">
        {{ object.decision_aid|get_key:'drug2'|get_key:'drug' }}
      </a>
    </h2>
    <li class="or">
      {{ object.decision_string }}
    </li>
  </div>
  <div class="col-sm">
    <h2 class="or"><b>OR</b></h2>
  </div>
  <div class="col-sm">
    <h2 class="or">
      <a href="{% url 'treatment:about' object.decision_aid|get_key:'drug1'|get_key:'drug' %}">
        {{ object.decision_aid|get_key:'drug1'|get_key:'drug' }}
      </a>
    </h2>
    <li class="or">
      {{ object.decision_string }}
    </li>
  {% elif object.decision_aid|get_key:'drug1'|get_key:'drug' == "colchicine" %}
    <ul>
      <li>
        {{ object.decision_string }}
      </li>
      {% if object.colchicine_interactions is None %}
      <li><b>WARNING</b>: You did not report whether or not you have any <a
          href="#colchicine_contraindications">contraindications</a> to using colchicine. This could potentially
        change the recommendation and/or be dangerous.
        {% if request.user.is_authenticated %}
        <a href="{% url 'flareaid:update' object.pk %}">
          <b>Update</b>
        </a>
        your history for better recommendations.
        {% else %}
        Submit a
        <a href="{% url 'flareaid:create' %}">
          <b>new</b>
        </a>
        set of info for better recommendations.
        {% endif %}
      </li>
    </ul>
    {% endif %}
  {% elif object.decision_aid|get_key:'drug1'|get_key:'drug' == "prednisone" %}
  <div class="col-auto">
    <h3>
      <a href="{% url 'treatment:about' 'steroids' %}">
        Prednisone
      </a>
       (Prescription Only)</h3>
    <li>
      {{ object.decision_aid|get_key:'drug1'|get_key:'drug' }}
      {{ object.decision_aid|get_key:'drug1'|get_key:'dose' }} mg
      {{ object.decision_aid|get_key:'drug1'|get_key:'freq' }}
      x
      {{ object.decision_aid|get_key:'drug1'|get_key:'duration' }} days
      then
      {{ object.decision_aid|get_key:'drug1'|get_key:'dose2' }} mg
      {{ object.decision_aid|get_key:'drug1'|get_key:'freq2' }}
      x
      {{ object.decision_aid|get_key:'drug1'|get_key:'duration2' }} days</li>
  </div>
  {% elif object.decision_aid|get_key:'needinfo' == True %}
    <span>We really need more information if we are going to make a quality recommendation. Start by telling us
      whether or not you are in perfect health.</span>
  {% elif object.decision_aid|get_key:'doctor' == True  %}
    <span>Your medical situation is complex enough that you should see a doctor, ideally a <a
        href="https://en.wikipedia.org/wiki/Rheumatology" target="_blank">rheumatologist</a>, for your gout flare treatment.</span>
  {% endif %}
  {% if object.prednisone %}
    {{ object.prednisone }}
  {% elif object.ibuprofen %}
    {{ object.ibuprofen}}
  {% elif object.colchicine %}
    {{ object.colchicine }}
  {% else %}
    <form method="post"
    action="{% url 'treatment:flareaid-create' pk=object.pk treatment=object.decision_aid|get_key:'drug1'|get_key:'drug' %}">
    {% csrf_token %}
    <button class="btn btn-primary btn-lg" role="button" id="treatment-create" type="submit" value="treatment">Create</button>
    </form>
  {% endif %}
    </div>
  </div>
  {% if object.monoarticular == True %}
    <div class="row">
      <div class="col" style="text-align:center;">
        <br>
        <h2>Alternative: Joint Injection</h2>
        <p>Performed by your rheumatologist or other provider</p>
      </div>
    </div>

  {% endif %}
{% endif %}
