{% extends "base_form.html" %}
{% load crispy_forms_tags %}
{{ form.media }}

{% block title %}{{ user.username|capfirst }}'s Contraindications Update{% endblock title %}

{% block header %}
<h1 class="nested-container">{{ user.username|capfirst }}'s Contraindications</h1>
{% endblock header %}

{% block form %}
  {% if form.instance.pk %}
    <form class="form-horizontal" method="post" action="{% url 'profiles:update-contraindications' request.user object.pk %}" enctype='multipart/form-data'>
      {% csrf_token %}
      {{ form|crispy }}
      {{ stroke_form|crispy }}
      {{ heartattack_form|crispy }}
      {{ bleed_form|crispy }}
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary btn-lg">Update</button>
        </div>
      </div>
    </form>
  {% else %}
    <form class="form-horizontal" method="post" action="{% url 'profiles:create-contraindications' %}" enctype='multipart/form-data'>
      {% csrf_token %}
      {{ form|crispy }}
      {{ stroke_form|crispy }}
      {{ heartattack_form|crispy }}
      {{ bleed_form|crispy }}
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </div>
    </form>
  {% endif %}
{% endblock form %}

{% block inline_javascript %}
<script>
// functions to load when the page loads
$(document).ready(function() {
  contraindications_profile_stroke();
});
$(document).ready(function() {
  contraindications_profile_heartattack();
});
$(document).ready(function() {
  contraindications_profile_bleed();
});
$(document).ready(function() {
  contraindications_profile_stent();
});
$(document).ready(function() {
  contraindications_profile_cabg();
});
// functions to run when form field is changed
$(document).ready(function() {
  // toggles Stroke subfields when Stroke is changed
  $('#id_stroke-value').change(contraindications_profile_stroke);
  contraindications_profile_stroke.call($('#id_stroke-value').get(0));
});
$(document).ready(function() {
  // toggles Hypertension subfields when Hypertension is changed
  $('#id_heartattack-value').change(contraindications_profile_heartattack);
  contraindications_profile_heartattack.call($('#id_heartattack-value').get(0));
});
$(document).ready(function() {
  // toggles CHF subfields when CHF is changed
  $('#id_bleed-value').change(contraindications_profile_bleed);
  contraindications_profile_bleed.call($('#id_bleed-value').get(0));
});
$(document).ready(function() {
  // toggles CHF subfields when CHF is changed
  $('#id_heartattack-stent').change(contraindications_profile_stent);
  contraindications_profile_stent.call($('#id_heartattack-stent').get(0));
});
$(document).ready(function() {
  // toggles CHF subfields when CHF is changed
  $('#id_heartattack-cabg').change(contraindications_profile_cabg);
  contraindications_profile_cabg.call($('#id_heartattack-cabg').get(0));
});
</script>
{% endblock inline_javascript %}
