{% extends "base_form.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{user.username|capfirst }}'s Medical Profile Update{% endblock title %}
{% block header %}
<h1 class="content-heading">Update {{ user.username|capfirst }}'s Medical History</h1>
<hr size="6" color="white" />
{% endblock header %}
{% block form %}
{% if form.instance.pk %}
<form class="form-horizontal" method="post" action="{% url 'profiles:update-medical' object.user.username %}" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form|crispy }}
  <div class="row">
    <div class="col" id="anemia_col">
      {{ anemia_form|crispy }}
      {{ hemoglobin_anemia_form|crispy }}
    </div>
    <div class="col" id="polycythemia_col">
      {{ polycythemia_form|crispy }}
      {{ hemoglobin_polycythemia_form|crispy }}
    </div>
  </div>
  <hr size="6" color="white" />
  <div class="row">
    <div class="col" id="leukocytosis_col">
      {{ leukocytosis_form|crispy }}
      {{ wbc_leukocytosis_form|crispy }}
    </div>
    <div class="col" id="leukopenia_col">
    {{ leukopenia_form|crispy }}
    {{ wbc_leukopenia_form|crispy }}
    </div>
  </div>
  <hr size="6" color="white" />
  <div class="row">
    <div class="col" id="thrombocytopenia_col">
      {{ thrombocytopenia_form|crispy }}
      {{ platelet_thrombocytopenia_form|crispy }}
    </div>
    <div class="col" id="thrombocytosis_col">
      {{ thrombocytosis_form|crispy }}
      {{ platelet_thrombocytosis_form|crispy }}
    </div>
  </div>
  <hr size="6" color="white" />
  <div class="row">
    <div class="col">
      {{ transaminitis_form|crispy }}
      <div class="row">
        <div class="col">
        {{ alt_form|crispy }}
        </div>
        <div class="col">
        {{ ast_form|crispy }}
        </div>
      </div>
    </div>
  </div>
  <hr size="6" color="white" />
  {{ CKD_form|crispy }}
  {{ creatinine_form|crispy }}
  <hr size="6" color="white" />
  {{ angina_form|crispy }}
  <hr size="6" color="white" />
  {{ anticoagulation_form|crispy }}
  <hr size="6" color="white" />
  {{ heartattack_form|crispy }}
  <hr size="6" color="white" />
  {{ stroke_form|crispy }}
  <hr size="6" color="white" />
  {{ IBD_form|crispy }}
  <hr size="6" color="white" />
  {{ colchicine_interactions_form|crispy }}
  <hr size="6" color="white" />
  {{ hypertension_form|crispy }}
  <hr size="6" color="white" />
  {{ hyperuricemia_form|crispy }}
  <hr size="6" color="white" />
  {{ stroke_form|crispy }}
  <hr size="6" color="white" id="stroke_bar" />
  {{ heartattack_form|crispy }}
  <hr size="6" color="white" id="heartattack_bar" />
  {{ bleed_form|crispy }}
  <hr size="6" color="white" id="bleed_bar" />
  {{ CHF_form|crispy }}
  <hr size="6" color="white" />
  {{ diabetes_form|crispy }}
  <hr size="6" color="white" />
  {{ erosions_form|crispy }}
  <hr size="6" color="white" />
  {{ organ_transplant_form|crispy }}
  <hr size="6" color="white" />
  {{ urate_kidney_stones_form|crispy }}
  <hr size="6" color="white" />
  {{ tophi_form|crispy }}
  <hr size="6" color="white" />
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary btn-lg">Update</button>
    </div>
  </div>
</form>
{% endif %}
{% endblock form %}

{% block inline_javascript %}
<script>
  // functions to load when the page loads
  $(document).ready(function () {
    CKD_checker();
  });
  $(document).ready(function () {
  leukocytosis_checker();
  });
  $(document).ready(function () {
  leukopenia_checker();
  });
  $(document).ready(function () {
  thrombocytosis_checker();
  });
  $(document).ready(function () {
  thrombocytopenia_checker();
  });
  $(document).ready(function () {
  anemia_checker();
  });
  $(document).ready(function () {
  polycythemia_checker();
  });
  $(document).ready(function () {
  transaminitis_checker();
  });
  $(document).ready(function () {
    medical_profile_hypertension();
  });
  $(document).ready(function () {
    medical_profile_CHF();
  });
  $(document).ready(function () {
    medical_profile_diabetes();
  });
  $(document).ready(function () {
    medical_profile_organ_transplant();
  });
  // functions to run when form field is changed
  $(document).ready(function () {
    // toggles CKD subfields when CKD is changed
    $("#id_CKD-value").change(CKD_checker);
    CKD_checker.call($("#id_CKD-value").get(0));
  });
  $(document).ready(function () {
  // toggles WBC subfield when leukocytosis is changed
  $("#id_leukocytosis-value").change(leukocytosis_checker);
  leukocytosis_checker.call($("#id_leukocytosis-value").get(0));
  });
  $(document).ready(function () {
  // toggles WBC subfield when leukopenia is changed
  $("#id_leukopenia-value").change(leukopenia_checker);
  leukopenia_checker.call($("#id_leukopenia-value").get(0));
  });
  $(document).ready(function () {
  // toggles platelet subfield when thrombocytosis is changed
  $("#id_thrombocytosis-value").change(thrombocytosis_checker);
  thrombocytosis_checker.call($("#id_thrombocytosis-value").get(0));
  });
  $(document).ready(function () {
  // toggles platelet subfield when thrombocytopenia is changed
  $("#id_thrombocytopenia-value").change(thrombocytopenia_checker);
  thrombocytopenia_checker.call($("#id_thrombocytopenia-value").get(0));
  });
  $(document).ready(function () {
  // toggles hemoglobin subfield and polycythemia field when anemia is changed
  $("#id_anemia-value").change(anemia_checker);
  anemia_checker.call($("#id_anemia-value").get(0));
  });
  $(document).ready(function () {
  // toggles hemoglobin subfield and anemia field when polycythemia is changed
  $("#id_polycythemia-value").change(polycythemia_checker);
  polycythemia_checker.call($("#id_polycythemia-value").get(0));
  });
  $(document).ready(function () {
  // toggles hemoglobin subfield and anemia field when polycythemia is changed
  $("#id_transaminitis-value").change(transaminitis_checker);
  transaminitis_checker.call($("#id_transaminitis-value").get(0));
  });
  $(document).ready(function () {
    // toggles Hypertension subfields when Hypertension is changed
    $("#id_hypertension-value").change(medical_profile_hypertension);
    medical_profile_hypertension.call($("#id_hypertension-value").get(0));
  });
  $(document).ready(function () {
    // toggles CHF subfields when CHF is changed
    $("#id_CHF-value").change(medical_profile_CHF);
    medical_profile_CHF.call($("#id_CHF-value").get(0));
  });
  $(document).ready(function () {
    // toggles Diabetes subfields when Diabetes is changed
    $("#id_diabetes-value").change(medical_profile_diabetes);
    medical_profile_diabetes.call($("#id_diabetes-value").get(0));
  });
  $(document).ready(function () {
    // toggles OrganTransplant subfields when OrganTransplant is changed
    $("#id_organ_transplant-value").change(medical_profile_organ_transplant);
    medical_profile_organ_transplant.call(
      $("#id_organ_transplant-value").get(0)
    );
  });
</script>
{% endblock inline_javascript %}
