{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
        <h1>{{ object.user.username }}</h1>
        {% if object.user.name %}
        <h3>Name: {{ object.user.name}}</h3>
        {% endif %}
        {% if object.date_of_birth %}
        <h3>Date of birth: {{ object.date_of_birth}}</h3>
        {% endif %}
        {% if object.age %}
        <h3>Age: {{ object.age }}</h3>
        {% endif %}
        {% if object..gender %}
        <h3>Gender: {{ object.gender }}</h3>
        {% endif %}
        {% if object.race %}
        <h3>Race: {{ object.race }}</h3>
        {% endif %}
        {% if object.weight %}
        <h3>Weight: {{ object.weight }}</h3>
        {% endif %}
        {% if object.height %}
        <h3>Height: {{ object.height }}</h3>
        {% endif %}
        {% if object.BMI_calculator %}
        <h3>BMI: {{ object.BMI_calculator|stringformat:".1f" }}</h3>
        {% endif %}
        {% if object.drinks_per_week %}
        <h3>Drinks per week: {{ object.drinks_per_week }}</h3>
        {% endif %}
        <h2>Profile created on: {{ object.created }}</h2>

    <a class="btn btn-primary" href="{% url 'profiles:update' object.slug %}" role="button">Update Profile</a>
    </div>  
    </div>
</div>
{% endblock content %}
