{% extends "base_form.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username|capfirst }}'s Profile Update{% endblock title %}

{% block header %}
<h1 class="nested-container">{{ user.username|capfirst }}'s Profile</h1>
{% endblock header %}

{% block form %}
  {% if form.instance.pk %}
    <form class="form-horizontal" method="post" action="{% url 'profiles:update' request.user object.pk %}" enctype='multipart/form-data'>
      {% csrf_token %}
      {{ form|crispy }}
      {{ height_form|crispy }}
      <hr size="6" color="white">
      {{ weight_form|crispy }}
      <hr size="6" color="white">
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary btn-lg">Update</button>
        </div>
      </div>
    </form>
  {% else %}
    <form class="form-horizontal" method="post" action="{% url 'profiles:create' %}" enctype='multipart/form-data'>
      {% csrf_token %}
      {{ form|crispy }}
      {{ height_form|crispy }}
      {{ weight_form|crispy }}
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </div>
    </form>
  {% endif %}
{% endblock form %}
