{% load flare_extras %}
<div class="btn-group" role="group" aria-label="Button group with nested dropdown" style="float: right;">
  <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown"
      aria-expanded="false">
      Flares
    </button>
    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1" id="dropdown">
      <li><a class="dropdown-item" href="{% url 'flare:create' %}">New</a></li>
      <li><a class="dropdown-item" href="{% url 'flare:about' %}">About</a></li>
      {% if request.user.is_authenticated %}
      <li><a class="dropdown-item" href="{% url 'flare:list' object.slug %}">List</a></li>
        <li><a class="dropdown-item" href="{% url 'flare:update' object.slug %}">Update</a></li>
        {% endif %}
    </ul>
  </div>
</div>
<h1>{% if object.user %} {{ object.user|capfirst  }}'s {% endif %}Flare</h1>
<hr class="my-6" color="white">
<div class="row">
  <div class="col">
<h2><u>Gout probability</u>: {{ flare.flare_calculator|get_flare:'result'|capfirst }}</h2>
  </div>
  <div class="col">
<h3>Date: {{ flare.created }}</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
    <li>{{ flare.flare_calculator|get_flare:'likelihood' }}</li>
      {% if flare.monoarticular == False %}
        <li><u>WARNING</u>: {{ flare.flare_calculator|get_flare:'caveat' }}</li>
      {% endif %}
    <li>
    {% if flare.flareaid %}
    FlareAid: {{ flare.flareaid }}
    </li>
      <a class="btn btn-primary btn-lg btn-block" id="FlareAid-btn"
        href="{% url 'flareaid:flare-update' pk=flare.flareaid.pk flare=flare.pk %}"
        role="button">Update FlareAid</a>
    {% else %}
    FlareAid: none
    </li>
      {% if flare.flareaid %}
        <a type="button" class="btn btn-primary btn-lg btn-block"" id=" FlareAid-btn"
          href="{% url 'flareaid:detail' pk=flare.flareaid.pk %}" role="button">Flare Helper</a>
      {% else %}
        <a type="button" class="btn btn-primary btn-lg btn-block"" id=" FlareAid-btn"
          href="{% url 'flareaid:flare-create' flare=flare.pk %}"
            role="button">Flare Helper</a>
      {% endif %}
    {% endif %}
  </div>
  </ul>
  <div class="col">
    <ul>
      <li><u>Likelihood</u>: {{ flare.flare_calculator|get_flare:'likelihood' }}</li>
      <li><u>Prevalence</u>: Gout is present in {{ flare.flare_calculator|get_flare:'prevalence' }} of patients similar to you.</li>
    </ul>
  </div>
</div>
<hr class="my-6" color="white">
