<h2 class="content-heading">Rationale</h2>
<ul>
  <h3><u>Symptoms</u></h3>
  <li>Location: {% if flare.location %} {{ flare.location }} {% else %} not reported {% endif %}</li>
  {% if flare.monoarticular %}
  <li>You reported you flare was {% if flare.monoarticular == True %} monoarticular (1 joint) {% elif flare.monoarticular == False %} polyarticular (more than 1 joint) {% endif %}</li>
  {% endif %}
    {% if flare.firstmtp %}
    <li>First MTP: {{ flare.firstmtp }}
    {% endif %}
    {% if flare.redness %}
    <li>Redness: {{ flare.redness }}
    {% endif %}
    {% if flare.onset %}
    <li>Onset: time to maximal symptoms {% if flare.onset == True %} under 24 hours. {% elif flare.onset == False %} over 24 hours {% endif %}.</li>
    {% endif %}
    {% if flare.duration %}
    <li>Duration: {{ flare.duration }} days</li>
    {% endif %}
  <h3><u>Extra Factors</u></h3>
  {% if flare.male %}
    <li>Male: {{ flare.male }}
  {% endif %}
  {% if flare.prior_gout %}
    <li>Prior gout: {{ flare.prior_gout }}
  {% endif %}
  {% if flare.urate %}
  <li>Uric acid: <a href="{% url 'lab:detail' 'urate' object.urate.pk %}">{{ flare.urate }}</a></li>
  {% endif %}
  <h3><u>Cardiac Disease</u></h3>
  {% if flare.hypertension or flare.heartattack or flare.CHF or flare.stroke or flare.PVD %}
    <li>Cardiac diseases: {{ flare.hypertension }} {{ flare.heartattack }} {{ flare.CHF }} {{ flare.stroke }} {{ flare.PVD }}
  {% else %}
    <li>No cardiac diseases</li>
  {% endif %}

  <h3><u>Treatment</u></h3>
  {% if flare.treatment %}
  <li>Treatment: {{ flare.treatment }}</li>
  {% endif %}
</ul>
<hr class="my-6" color="white">
