<h2 class="content-heading">Rationale</h2>
<div class="row">
  <div class="col">
  <h3><u>Symptoms</u></h3>
    <li>Location: {{ flare.locations }}</li>
      {% if flare.redness == True %}
      <li>Erythema (redness) </li>
      {% endif %}
      {% if flare.onset %}
      <li>Onset: time to maximal symptoms {% if flare.onset == True %} under 24 hours{% elif flare.onset == False %} over 24 hours {% endif %}</li>
      {% endif %}
      {% if flare.duration %}
      <li>Duration: {{ flare.duration }}</li>
      {% endif %}
      <h3><u>Treatment</u></h3>
      <li>Treatment:
        {% if flare.treatment %}
        {{ flare.treatment }}
        {% else %}
        none
        {% endif %}
      </li>
  </div>
  <div class="col">
    <h3><u>Extra Factors</u></h3>
    <ul>
      {% if flare.male %}
        <li>Male: {{ flare.male }}</li>
      {% endif %}
      {% if flare.prior_gout %}
        <li>Prior gout: {{ flare.prior_gout }}</li>
      {% endif %}
      {% if flare.urate %}
      <li>Uric acid: {% if request.user.is_authenticated %}<a
          href="{% url 'lab:detail' 'urate' object.urate.pk %}">{{ flare.urate }}</a>{% else %}{{ flare.urate }}{% endif %}
      </li>
    </ul>
    {% endif %}
    <h3><u>Cardiac Disease</u></h3>
    <ul>
      <li>
      {% if flare.hypertension.value or flare.heartattack.value or flare.CHF.value or flare.stroke.value or flare.PVD.value %}
      {% if flare.hypertension.value == True %} {{ flare.hypertension }} {% endif %}
      {% if flare.heartattack.value == True %} {{ flare.heartattack }} {% endif %}
      {% if flare.CHF.value == True %} {{ flare.CHF }} {% endif %}
      {% if flare.stroke.value == True %} {{ flare.stroke }} {% endif %}
      {% if flare.PVD.value == True %} {{ flare.PVD }} {% endif %}
      {% else %}
      None
      {% endif %}
      </li>
    </ul>
  </div>
</div>
<hr class="my-6" color="white">
