<h2><a id="references">References</a></h2>
<ol>
  <li id=1>Janssens HJEM, Fransen J, van de Lisdonk EH, van Riel PLCM, van Weel C, Janssen M. A Diagnostic Rule for
    Acute Gouty Arthritis in Primary Care Without Joint Fluid Analysis. Arch Intern Med. 2010;170(13):1120–1126.
    doi:10.1001/archinternmed.2010.196<a href="https://jamanetwork.com/journals/jamainternalmedicine/fullarticle/225738"
      target="_blank">
      doi:10.1001/archinternmed.2010.196</a></li>
  <li id=2>Laura B. E. Kienhorst, Hein J. E. M. Janssens, Jaap Fransen, Matthijs Janssen, The validation of a diagnostic
    rule for gout without joint fluid analysis: a prospective study, Rheumatology, Volume 54, Issue 4, April 2015, Pages
    609–614, https://doi.org/10.1093/rheumatology/keu378<a
      href="https://doi.org/10.1093/rheumatology/kev017" target="_blank">
      DOI: 10.1093/rheumatology/kev017</a>
  </li>
</ol>
