{% extends "base.html" %}
{% load static %}
{% block content %}
<main role="main" class="container">
    <div class="row">
        <div class="column">
            <div class="container default-container">
                <h1 class="nested-container"><a id="Flares">Flares</a>
                {% if request.user.is_authenticated %}
                <a class="btn btn-primary btn-lg" href="{% url 'flare:list' %}" role="button" style="float: right;">My Flares</a>
                <a class="btn btn-primary btn-lg" href="{% url 'flare:create' %}" role="button" style="float: right;">New Flare</a>
                {% else %}
                <a id="log-in-link" class="btn btn-primary btn-lg" href="{% url 'account_login' %}" role="button" style="float: right;">Log In</a>
                {% endif %}
                </h1>
                {% block intro %}
                <p>Gout flares are painful and disabling. They are driven by deposition of <a href="{% url 'lab:about' 'urate' %}">uric acid</a> in the joints and the body's inflammatory reaction to it. </p>
                {% endblock intro %}
                <hr size="6" color="navy">
                    {% block quicklinks %}
                    <h2 class="nested-container">Quick Links</h2>
                    <ol>
                        <li><a href="#basics">The Basics</a></li>
                        <li><a href="#pathophysiology">Pathophysiology</a></li>
                        <li><a href="#causes">Causes</a></li>
                        <li><a href="#history">History</a></li>
                        <li><a href="#references">References</a></li>
                    </ol>
                    {% endblock quicklinks %}
                <hr size="6" color="navy">
                {% block basics %}
                  <h2 class="nested-container"><a id="basics">Basics</a></h2>
                  <h3><u>Pain</u></h3>
                  <p>The cardinal symptom of gout flares is pain.
                  The pain is typically characterized as starting "mild" as "an itch" or "a tickle" before bedtime.
                  The next morning, the pain will have become severe.
                  It will sometimes wake the patient from sleep before their usual waking hour.
                  At this point, the pain is so severe that sufferers often believe they have broken their bone.
                  It grows more violent and even light touch, such as that imparted by wearing a sock or setting a sheet down, will cause severe distress.</p>
                  </p>
                  <p>Gout flares thus start quite suddenly and reach maximal intensity within hours.
                  Flares have a predilection for starting in the evening or early morning, when the joint is coolest.
                  </p>
                  <div class="row">
                    <div class="col">
                      <h3><u>Inflammation</u></h3>
                      <p>There are typically signs of <a href="https://en.wikipedia.org/wiki/Inflammation" target="_blank">inflammation</a> in the involved joint.
                      Redness (erythema or rubor) of the skin overlying the joint is commonly observed on visual inspection.
                      The joint and overlying skin are often warm to the touch (calor).
                      In addition to pain (dolor), the joint is often quite swollen (tumor).</p>
                      <p>Often, sufferers will have a low-grade fever from the systemic effects of such severe localized inflammation.<p>
                    </div>
                    <div class="col-md-auto">
                      <figure class="figure">
                      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/Gout2010.JPG/1280px-Gout2010.JPG" class="figure-img img-fluid rounded" alt="" style="width:350px;height:260px;">
                      <figcaption class="figure-caption">Podagra. James Heilman, MD. <a href="https://creativecommons.org/licenses/by-sa/3.0" target="_blank">CC BY-SA 3.0</a></figcaption>
                      </figure>
                    </div>
                  </div>
                  <h3><u>Location</u></h3>
                    <p>Gout has a predilection for the lower extremities when it initially begins to affect an individual.
                    The big toe is the most common site and is frequently the site of a sufferer's first flare.
                    When gout effects the big toe, it is termed <a href="https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/Gout2010.JPG/1280px-Gout2010.JPG" target="_blank">podagra</a>. Gout also commonly occurs in the midfoot, ankle and knees.</p>
                    <p>Early on in the course of an individual's gout, it is usually monoarticular (affects only one joint at a time).
                    As the disease progresses, it can involve multiple joints at the same time (polyarticular).
                    It can also start to involve more atypical sites such as those found in the upper extremities and proximal lower extremities.
                    Advanced gout has a predilection for the wrist and elbow.
                    It can also involve the fingers.</p>
                    <p>Gout rarely involves the hips, back/spine, and shoulders.<p>
                  <h3><u>Duration</u></h3>
                    <p>Gout typically lasts 3-10 days and resolves on its own. This is not to diminish the severe disability it causes. If the disease progresses, flares occur more and more frequently, involve more joints, and can last longer.</p>
                  <hr size="6" color="navy">
                {% endblock basics %}
                {% block pathophysiology %}
                <h2 class="nested-container"><a id="pathophysiology">Biology</a></h2>
                <p>ALT is a liver enzyme, but is also made in many other parts of the body:</p>
                <ol>
                    <li>Muscle</li>
                    <li>Bone</li>
                </ol>
                <hr size="6" color="navy">
                {% endblock pathophysiology %}
                {% block causes %}
                <h2 class="nested-container"><a id="causes">Causes</a></h2>
                <hr size="6" color="navy">
                {% endblock causes %}
                {% block history %}
                <h2 class="nested-container"><a id="history">History</a></h2>
                <hr size="6" color="navy">
                {% endblock history %}
                {% block references %}
                <h2 class="nested-container"><a id="references">References</a></h2>
                <ol>
                  <li>Nuki, G., Simkin, P.A. A concise history of gout and hyperuricemia and their treatment. <i>Arthritis Res Ther</i> <strong>8</strong>, S1 (2006). <a href="https://doi.org/10.1186/ar1906" target="_blank">https://doi.org/10.1186/ar1906</li>
                </ol>
                <hr size="6" color="navy">
                {% endblock references %}
              <u><a href="#Flares">Back to Top</a></u>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="column">
            <br>
            {% if request.user.is_authenticated %}
            <a class="btn btn-primary" href="{% url 'flare:list' %}" role="button">My Flares</a>
            <a class="btn btn-primary" href="{% url 'flare:create' %}" role="button">New Flare</a>
            {% else %}
            <a id="log-in-link" class="btn btn-primary" href="{% url 'account_login' %}" role="button">Log In</a>
            {% endif %}
            <br>
        </div>
    </div>
</main>
{% endblock content %}

