{% extends "base.html" %}
{% load static %}
{% block content %}
<main role="main" class="container-fluid">
    <div class="row">
        <div class="column">
            <div class="container-fluid default-container">
                {% block header %}
                <h1 class="nested-container"><a id="Flares">Flares</a>
                {% if request.user.is_authenticated %}
                <a class="btn btn-primary btn-lg" href="{% url 'flare:list' %}" role="button" style="float: right;">My Flares</a>
                <a class="btn btn-primary btn-lg" href="{% url 'flare:create' %}" role="button" style="float: right;">New Flare</a>
                {% endif %}
                </h1>
                {% endblock header %}
                {% block intro %}
                <p>Gout flares are painful and disabling. They are caused by <a href="{% url 'lab:about' 'urate' %}">uric acid</a> build up in one or more joints where it causes inflammation. Inflammation causes pain, redness, swelling, and warmth over the joint(s).</p>
                {% endblock intro %}
                <hr size="6" color="navy">
                    {% block quicklinks %}
                    <h2 class="nested-container">Quick Links</h2>
                    <ol>
                        <li><a href="#basics">The Basics</a></li>
                        <li><a href="#pathophysiology">Pathophysiology</a></li>
                        <li><a href="#causes">Causes</a></li>
                        <li><a href="#history">History</a></li>
                        <li><a href="#references">References</a></li>
                    </ol>
                    {% endblock quicklinks %}
                <hr size="6" color="white">
                {% block basics %}
                  <h2 class="nested-container"><a id="basics">Basics</a></h2>
                  <h3><u>Pain</u></h3>
                  <p>The cardinal symptom of gout flares is pain.
                  The pain is typically characterized as starting "mild" as "an itch" or "a tickle" before bedtime.
                  The next morning, the pain will have become severe.
                  It will sometimes wake the patient from sleep before their usual waking hour.
                  At this point, the pain is so severe that sufferers often believe they have broken their bone.
                  It grows more violent and even light touch, such as that imparted by wearing a sock or setting a sheet down, will cause severe distress.</p>
                  </p>
                  <p>Gout flares thus start quite suddenly and reach maximal intensity within hours.
                  Flares have a predilection for starting in the evening or early morning, when the joint is coolest.
                  </p>
                  <div class="row">
                    <div class="col">
                      <h3><u>Inflammation</u></h3>
                      <p>There are typically signs of <a href="https://en.wikipedia.org/wiki/Inflammation" target="_blank">inflammation</a> in the involved joint.
                      Redness (erythema or rubor) of the skin overlying the joint is commonly observed on visual inspection.
                      The joint and overlying skin are often warm to the touch (calor).
                      In addition to pain (dolor), the joint is often quite swollen (tumor).</p>
                      <p>Often, sufferers will have a low-grade fever from the systemic effects of such severe localized inflammation.<p>
                      <p>It is not uncommon for gout to be misdiagnosed as an infection of the skin (<a href="https://en.wikipedia.org/wiki/Cellulitis" target="_blank">cellulitis</a>) due to the "angry" appearance of the skin overlying the affected joint.
                      This can result in unnecessary exposure to antibiotics and/or other testing or treatments.
                      Even more problematic is when gout is misdiagnosed as an infected joint (<a href="https://en.wikipedia.org/wiki/Septic_arthritis" target="_blank">septic arthritis</a>).
                      This often means an unnecessary surgery to clean out the joint. This causes a delay in the accurate diagnosis as well as a non-trivial recovery time in addition to the risk of surgical complications.</p>
                    </div>
                    <div class="col-md-auto">
                      <figure class="figure">
                      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/Gout2010.JPG/1280px-Gout2010.JPG" class="figure-img img-fluid rounded" alt="" style="width:350px;height:260px;">
                      <figcaption class="figure-caption">Podagra. James Heilman, MD. <a href="https://creativecommons.org/licenses/by-sa/3.0" target="_blank">CC BY-SA 3.0</a></figcaption>
                      </figure>
                    </div>
                  </div>
                  <h3><u>Location</u></h3>
                    <p>Gout has a predilection for the lower extremities when it initially begins to affect an individual.
                    The big toe is the most common site and is frequently the site of a sufferer's first flare.
                    When gout effects the big toe, it is termed <a href="https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/Gout2010.JPG/1280px-Gout2010.JPG" target="_blank">podagra</a>. Gout also commonly occurs in the midfoot, ankle and knees.</p>
                    <p>Early on in the course of an individual's gout, it is usually monoarticular (affects only one joint at a time).
                    As the disease progresses, it can involve multiple joints at the same time (polyarticular).
                    It can also start to involve more atypical sites such as those found in the upper extremities and proximal lower extremities.
                    Advanced gout has a predilection for the wrist and elbow.
                    It can also involve the fingers.</p>
                    <p>Gout rarely involves the hips, back/spine, and shoulders.<p>
                  <h3><u>Duration</u></h3>
                    <p>Gout typically lasts 3-10 days and resolves on its own. This is not to diminish the severe disability it causes. If the disease progresses, flares occur more and more frequently, involve more joints, and can last longer.</p>
                  <hr size="6" color="white">
                {% endblock basics %}
                {% block pathophysiology %}
                <h2 class="nested-container"><a id="pathophysiology">Biology</a></h2>
                <h3><u>Inflammation</u></h3>
                The involvement of uric acid in human biology has been appreciated in a crude, by modern standards, fashion for hundreds of years (<a href="#1">1</a>).
                The first and landmark paper describing urate crystals in gouty joints (<a href="#2">2</a>) was published by McCarty et al in 1961.
                It was subsequently recognized that uric acid can cause inflammation in a variety of <a href="https://en.wikipedia.org/wiki/Mammal" target="_blank">mammalian</a> tissues.
                Modern molecular biology allowed us to understand that uric acid causes inflammation by a very old (genetically) family of proteins called the <a href="https://en.wikipedia.org/wiki/Inflammasome" target="_blank">inflammasome</a> (<a href="#3">3</a>).
                <h3><u>Monosodium Urate Crystals</u></h3>
                The crystals described by McCarty et al. in 1961 were made of monosodium urate (MSU) (<a href="#2">2</a>).
                These are formed by crystallization of uric acid and deposition of these crystals in tissues where they can cause inflammation.
                Hyperuricemia predisposes an individual to formation of
                <h3><u>White Blood Cells</u></h3>
                <hr size="6" color="white">
                {% endblock pathophysiology %}
                {% block causes %}
                <h2 class="nested-container"><a id="causes">Causes</a></h2>
                <hr size="6" color="white">
                {% endblock causes %}
                {% block history %}
                <h2 class="nested-container"><a id="history">History</a></h2>
                <hr size="6" color="white">
                {% endblock history %}
                {% block references %}
                <h2 class="nested-container"><a id="references">References</a></h2>
                <ol>
                  <li id=1>Nuki, G., Simkin, P.A. A concise history of gout and hyperuricemia and their treatment. <i>Arthritis Res Ther</i> <strong>8</strong>, S1 (2006). <a href="https://doi.org/10.1186/ar1906" target="_blank">https://doi.org/10.1186/ar1906</a></li>
                  <li id=2>McCarty DJ, Hollander JL: Identification of urate crystals in gouty synovial fluid. <i>Ann Intern Med.</i> 1961, 54: 452-460. <a href="https://www.acpjournals.org/doi/10.7326/0003-4819-54-3-452" target="_blank">https://doi.org/10.7326/0003-4819-54-3-452</a></li>
                  <li id=3>Martinon, F., Pétrilli, V., Mayor, A. et al. Gout-associated uric acid crystals activate the NALP3 inflammasome. Nature 440, 237–241 (2006). https://doi.org/10.1038/nature04516</li>
                </ol>
                <hr size="6" color="white">
                {% endblock references %}
              <u><a href="#Flares">Back to Top</a></u>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <br>
            {% if request.user.is_authenticated %}
            <a class="btn btn-primary" href="{% url 'flare:list' %}" role="button">My Flares</a>
            <a class="btn btn-primary" href="{% url 'flare:create' %}" role="button">New Flare</a>
            {% else %}
            <a id="log-in-link" class="btn btn-primary" href="{% url 'account_login' %}" role="button">Log In</a>
            {% endif %}
            <br>
        </div>
    </div>
</main>
{% endblock content %}

