{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% crispy flareform flareform.helper %}
{% crispy urateform urateform.helper %}
{% crispy colchicineform colchicineform.helper %}
{% crispy ibuprofenform ibuprofenform.helper %}
{% crispy naproxenform naproxenform.helper %}
{% crispy celecoxibform celecoxibform.helper %}
{% crispy meloxicamform meloxicamform.helper %}
{% crispy prednisoneform prednisoneform.helper %}
{% crispy methylprednisoloneform methylprednisoloneform.helper %}

{% block content %}
  <h2>Log a Flare</h2>
    <form class="form-horizontal" method="post" action="{% url 'flare:flarecreate' %}">
    {% csrf_token %}
    {% crispy flare_form %}
    {% crispy colchicine_form %}
    {% crispy ibuprofen_form %}
    {% crispy naproxen_form %}
    {% crispy celecoxib_form %}
    {% crispy meloxicam_form %}
    {% crispy prednisone_form %}
    {% crispy methylprednisolone_form %}
    {% crispy urate_form %}
    </form>
  <p></p>
{% endblock content %}

{% block inline_javascript %}
<script>
    // this is executed once when the page loads
  $(document).ready(function() {
    // set things up so my function will be called when treatment changes
    $('#id_treatment_1').change(check_treatment_1);
    check_treatment_1.call($('#id_treatment_1').get(0));
    });
  $(document).ready(function() {
    $('#id_treatment_2').change(check_treatment_2);
    check_treatment_2.call($('#id_treatment_2').get(0));
    });
  $(document).ready(function() {
    $('#id_treatment_3').change(check_treatment_3);
    check_treatment_3.call($('#id_treatment_3').get(0));
    });
    $(document).ready(function() {
    $('#id_treatment_4').change(check_treatment_4);
    check_treatment_4.call($('#id_treatment_4').get(0));
    });
    $(document).ready(function() {
    $('#id_treatment_5').change(check_treatment_5);
    check_treatment_5.call($('#id_treatment_5').get(0));
    });
    $(document).ready(function() {
    $('#id_treatment_6').change(check_treatment_6);
    check_treatment_6.call($('#id_treatment_6').get(0));
    });
    $(document).ready(function() {
    $('#id_treatment_7').change(check_treatment_7);
    check_treatment_7.call($('#id_treatment_7').get(0));
    });
    $(document).ready(function() {
    $('#id_treatment_8').change(check_treatment_8);
    check_treatment_8.call($('#id_treatment_8').get(0));
    });
    $(document).ready(function() {
    $('#id_treatment_9').change(check_treatment_9);
    check_treatment_9.call($('#id_treatment_9').get(0));
    });
</script>
{% endblock inline_javascript %}
