{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
{% if form.instance.pk %}
Update Flare
{% else %}
New Flare
{% endif %}
{% endblock %}

{% block header %}
  <header class="page-header header container-fluid">
      <div class="description">
        {% if form.instance.pk %}
        </h1>Update Flare</>
        {% else %}
        <h1>New Flare</h1>
        {% endif %}
      </div>
  </header>
{% endblock header %}

{% block content %}
  {% if form.instance.pk %}
    {% if view.kwargs.username or view.kwargs.slug %}
    <form class="form-horizontal" method="post" action="{% url 'flare:update' view.kwargs.slug %}">
      {% csrf_token %}
      {% crispy form %}
      <input class="btn btn-primary btn-lg" type="submit" value="Submit">
    </form>
    {% endif %}
  {% else %}
    {% if view.kwargs.username %}
      <form class="form-horizontal" method="post" action="{% url 'flare:user-create' view.kwargs.username %}">
      {% csrf_token %}
      {% crispy form %}
      <input class="btn btn-primary btn-lg" type="submit" value="Submit">
      </form>
    {% else %}
      <form class="form-horizontal" method="post" action="{% url 'flare:create' %}">
        {% csrf_token %}
        {% crispy form %}
        <input class="btn btn-primary btn-lg" type="submit" value="Submit">
        </form>
    {% endif %}
  {% endif %}
{% endblock content %}

{% block inline_javascript %}
<script>
  $(document).ready(function () {
    // checks if perfect_health is true and, if so, displays only monoarticular field, else displays long list of other fields to fill out
    $("#id_monoarticular_1").change(mono_vs_poly);
    mono_vs_poly.call($("#id_monoarticular_1").get(0));
    $("#id_monoarticular_2").change(mono_vs_poly);
    mono_vs_poly.call($("#id_monoarticular_2").get(0));
    // checks if perfect_health is true and, if so, displays only monoarticular field, else displays long list of other
    $("#id_firstmtp_1").change(mono_vs_poly);
    mono_vs_poly.call($("#id_firstmtp_1-value").get(0));
    $("#id_firstmtp_2").change(mono_vs_poly);
    mono_vs_poly.call($("#id_firstmtp_2-value").get(0));
    // checks if Flare.onset is answered, if so, displays duration field
    $("#id_onset_1").change(symptoms);
    symptoms.call($("#id_onset_1").get(0));
    $("#id_onset_2").change(symptoms);
    symptoms.call($("#id_onset_2").get(0));
    // If duration field has a value, displays erythema field
    $("#id_duration").change(symptoms);
    symptoms.call($("#id_duration").get(0));
  });
</script>
{% endblock inline_javascript %}
