{% extends "base_form.html" %}
{% load crispy_forms_tags %}

{% block title %}
{% if form.instance.pk %}
Update Flare
{% else %}
New Flare
{% endif %}
{% endblock %}

{% block header %}
{% if form.instance.pk %}
<h1 class="content-heading">Update Flare</h1>
{% else %}
<h1 class="content-heading">New Flare</h1>
{% endif %}
{% endblock header %}

{% block form %}
  {% if form.instance.pk %}
    <form class="form-horizontal" method="post" action="{% url 'flare:update' object.pk %}" enctype='multipart/form-data'>
      {% csrf_token %}
      {% crispy form %}
      <input class="btn btn-primary btn-lg" type="submit" value="Submit">
    </form>
  {% else %}
    <form class="form-horizontal" method="post" action="{% url 'flare:create' %}">
    {% csrf_token %}
    {% crispy form %}
    <input class="btn btn-primary btn-lg" type="submit" value="Submit">
    </form>
  {% endif %}
{% endblock form %}

{% block inline_javascript %}
<script>
  $(document).ready(function () {
    // checks if perfect_health is true and, if so, displays only monoarticular field, else displays long list of other fields to fill out
    $("#id_monoarticular_1").change(mono_vs_poly);
    mono_vs_poly.call($("#id_monoarticular_1").get(0));
    $("#id_monoarticular_2").change(mono_vs_poly);
    mono_vs_poly.call($("#id_monoarticular_2").get(0));
    // checks if perfect_health is true and, if so, displays only monoarticular field, else displays long list of other
    $("#id_firstmtp_1").change(mono_vs_poly);
    mono_vs_poly.call($("#id_firstmtp_1-value").get(0));
    $("#id_firstmtp_2").change(mono_vs_poly);
    mono_vs_poly.call($("#id_firstmtp_2-value").get(0));
  });
  jQuery(function ($) {
    var path = window.location.href;
    $('li a').each(function () {
      if (this.href === path) {
        $(this).addClass('active');
      } else {
        $(this).removeClass('active');
      }
    });
  });
</script>
{% endblock inline_javascript %}
