{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>User: {{ object.user }}</h2>
      <h3>{{ object.duration }}  days</h3>
      <h3>{{ object.location }}</h3>
      <h3>{{ object.treatment }}</h3>
      <h3>{{ object.urate }}</h3>
      <h3>{{ object.id }}</h3>
      <h3>{{ object.pk }}</h3>
    </div>
  </div>
</div>
<a class="btn btn-primary btn-lg" href="{% url 'flare:flareurateupdate' object.id %}" role="button">Update</a>
{% endblock content %}
