{% extends "base.html" %}
{% load static %}

{% block content %}
<main role="main" class="container-fluid default-container">
      <div class="container nested-container">
        <h1 class="default-container">{{ request.user|capfirst  }}'s Flare
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown" style="float: right;">
          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              Flares
            </button>
            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1" id="dropdown">
              <li><a class="dropdown-item" href="{% url 'flare:create' %}">New</a></li>
              <li><a class="dropdown-item" href="{% url 'flare:about' %}">About</a></li>
              <li><a class="dropdown-item" href="{% url 'flare:list' %}">List</a></li>
              <li><a class="dropdown-item" href="{% url 'flare:update' object.id %}">Update</a></li>
            </ul>
          </div>
        </div>
        </h1>
        <ul class="ul-main-list">
        <li>Date: {{ flare.created }}</li>
        {% if flare.location %}
        <li>Location: {{ flare.location }}</li>
        {% endif %}
        {% if flare.duration %}
        <li>Duration: {{ flare.duration }}  days</li>
        {% endif %}
        {% if flare.urate %}
        <li>Uric acid: {{ flare.urate }}</li>
        {% endif %}
        {% if flare.treatment %}
        <li>Treatment: {{ flare.treatment }}</li>
        {% endif %}
        </ul>
      </div>
      {% if flare.colchicine or flare.meloxicam or flare.ibuprofen or flare.celecoxib or flare.naproxen or flare.prednisone or flare.methylprednisolone %}
      <div class="container">
      <h2><u>Treatments</u></h2>
      </div>
      {% endif %}
      {% if flare.colchicine %}
        <div class="container nested-container">
          <h3 class="default-container"><a href="{% url 'treatment:detail' 'colchicine' flare.colchicine.pk %}">{{ flare.colchicine.generic_name|capfirst }}</a>
          {% for brand_name in flare.colchicine.brand_names %}
            ({{ brand_name|capfirst  }})</h3>
          {% endfor %}
          <ul class="ul-main-list">
            <li>{{ flare.colchicine.dose }} mg {{ flare.colchicine.freq }}</li>
            <li>Date started: {{ flare.colchicine.date_started }}</li>
            {% if flare.colchicine.date_ended %}
            <li>Date ended: {{ flare.colchicine.date_ended }}</li>
            {% endif %}
            <li>Class: {{ flare.colchicine.drug_class }}</li>
            {% if flare.colchicine.side_effects %}
            <li>Side effects: {{ flare.colchicine.side_effects }}
            {% endif %}
          </ul>
        </div>
      {% endif %}
      {% if flare.meloxicam %}
        <div class="container nested-container">
          <h3 class="default-container"><a href="{% url 'treatment:detail' 'meloxicam' flare.meloxicam.pk %}">{{ flare.meloxicam.generic_name|capfirst }}</a>
          {% for brand_name in flare.meloxicam.brand_names %}
            ({{ brand_name|capfirst  }}) </h3>
          {% endfor %}
          <ul class="ul-main-list">
            {% if flare.meloxicam.dose %}
            <li>{{ flare.meloxicam.dose }} mg {{ flare.meloxicam.freq }}</li>
            {% endif %}
            {% if flare.meloxicam.date_started %}
            <li>Date started: {{ flare.meloxicam.date_started }}
            {% endif %}
            {% if flare.meloxicam.date_ended %}
            - {{ flare.meloxicam.date_ended }}
            {% endif %}
            </li>
            <li>Class: {{ flare.meloxicam.drug_class }}</li>
            {% if flare.meloxicam.side_effects %}
            <li>Side effects: {{ flare.meloxicam.side_effects }}
            {% endif %}
          </ul>
        </div>
      {% endif %}
      {% if flare.ibuprofen %}
        <div class="container nested-container">
          <h3 class="default-container"><a href="{% url 'treatment:detail' 'ibuprofen' flare.ibuprofen.pk %}">{{ flare.ibuprofen.generic_name|capfirst }}</a>
          {% for brand_name in flare.ibuprofen.brand_names %}
            ({{ brand_name|capfirst  }}) </h3>
          {% endfor %}
          <ul class="ul-main-list">
            {% if flare.ibuprofen.dose %}
            <li>{{ flare.ibuprofen.dose }} mg {{ flare.ibuprofen.freq }}</li>
            {% endif %}
            {% if flare.ibuprofen.date_started %}
            <li>Date started: {{ flare.ibuprofen.date_started }}
            {% endif %}
            {% if flare.ibuprofen.date_ended %}
            - {{ flare.ibuprofen.date_ended }}
            {% endif %}
            </li>
            <li>Class: {{ flare.ibuprofen.drug_class }}</li>
            {% if flare.ibuprofen.side_effects %}
            <li>Side effects: {{ flare.ibuprofen.side_effects }}
            {% endif %}
          </ul>
        </div>
      {% endif %}
      {% if flare.naproxen %}
        <div class="container nested-container">
          <h3 class="default-container"><a href="{% url 'treatment:detail' 'naproxen' flare.naproxen.pk %}">{{ flare.naproxen.generic_name|capfirst }}</a>
          {% for brand_name in flare.naproxen.brand_names %}
            ({{ brand_name|capfirst  }}) </h3>
          {% endfor %}
          <ul class="ul-main-list">
            <li>{{ flare.naproxen.dose }} mg {{ flare.naproxen.freq }}</li>
            <li>Date started: {{ flare.naproxen.date_started }}
            {% if flare.naproxen.date_ended %}
            - {{ flare.naproxen.date_ended }}
            {% endif %}
            </li>
            <li>Class: {{ flare.naproxen.drug_class }}</li>
            {% if flare.naproxen.side_effects %}
            <li>Side effects: {{ flare.naproxen.side_effects }}
            {% endif %}
          </ul>
        </div>
      {% endif %}
      {% if flare.celecoxib %}
        <div class="container nested-container">
          <h3 class="default-container"><a href="{% url 'treatment:detail' 'celecoxib' flare.celecoxib.pk %}">{{ flare.celecoxib.generic_name|capfirst }}</a>
          {% for brand_name in flare.celecoxib.brand_names %}
            ({{ brand_name|capfirst  }}) </h3>
          {% endfor %}
          <ul class="ul-main-list">
            <li>{{ flare.celecoxib.dose }} mg {{ flare.celecoxib.freq }}</li>
            <li>Date started: {{ flare.celecoxib.date_started }}
            {% if flare.celecoxib.date_ended %}
            - {{ flare.celecoxib.date_ended }}
            {% endif %}
            </li>
            <li>Class: {{ flare.celecoxib.drug_class }}</li>
            {% if flare.celecoxib.side_effects %}
            <li>Side effects: {{ flare.celecoxib.side_effects }}
            {% endif %}
          </ul>
        </div>
      {% endif %}
      {% if flare.prednisone %}
        <div class="container nested-container">
          <h3 class="default-container"><a href="{% url 'treatment:detail' 'prednisone' flare.prednisone.pk %}">{{ flare.prednisone.generic_name|capfirst }}</a>
          {% for brand_name in flare.prednisone.brand_names %}
            ({{ brand_name|capfirst  }}) </h3>
          {% endfor %}
          <ul>
            <li>{{ flare.prednisone.dose }} mg {{ flare.prednisone.freq }}</li>
            <li>Date started: {{ flare.prednisone.date_started }}
            {% if flare.prednisone.date_ended %}
            - {{ flare.prednisone.date_ended }}
            {% endif %}
            </li>
            <li>Class: {{ flare.prednisone.drug_class }}</li>
            {% if flare.prednisone.side_effects %}
            <li>Side effects: {{ flare.prednisone.side_effects }}
            {% endif %}
          </ul>
        </div>
      {% endif %}
      {% if flare.methylprednisolone %}
        <div class='container nested-container'>
          <h3 class="default-container"><a href="{% url 'treatment:detail' 'methylprednisolone' flare.methylprednisolone.pk %}">{{ flare.methylprednisolone.generic_name|capfirst }}</a>
          {% for brand_name in flare.methylprednisolone.brand_names %}
            ({{ brand_name|capfirst  }}) </h3>
          {% endfor %}
          <ul>
            <li>{{ flare.methylprednisolone.dose }} mg {{ flare.methylprednisolone.freq }}</li>
            <li>Date started: {{ flare.methylprednisolone.date_started }}
            {% if flare.methylprednisolone.date_ended %}
            - {{ flare.methylprednisolone.date_ended }}
            {% endif %}
            </li>
            <li>Class: {{ flare.methylprednisolone.drug_class }}</li>
            {% if flare.methylprednisolone.side_effects %}
            <li>Side effects: {{ flare.methylprednisolone.side_effects }}
            {% endif %}
          </ul>
        </div>
      {% endif %}
      {% if object.urate %}
      <div class="container">
      <h2><u>Labs</u></h2>
      </div>
      {% endif %}
        {% if object.urate %}
          <div class="container nested-container">
            <h3 class="default-container"><a href="{% url 'lab:detail' 'urate' object.urate.pk %}">Urate</a> (uric acid) </h3>
            <ul class="ul-main-list">
              <li>{{ object.urate }} mg/dL</li>
              {% if object.urate.date_drawn %}
              <li>{{ object.urate.date_drawn }}</li>
              {% endif %}
            </ul>
          </div>
        {% endif %}
    </div>
  </div>
</main>
{% endblock content %}
