{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
    <h1>Flares</h1>
    {% if page_obj %}
      {% for flare in page_obj %}
        <div class="container user-flare-list">
          <a href="{% url 'flare:update' flare.pk %}">Date: {{ flare.created }}</a>
          <ul>
            <li>Location: {{ flare.location }}</li>
            <li>Treatment: {{ flare.treatment }}</li>
            <li>User: {{ flare.user }}</li>
            {% if flare.colchicine %}
              {{ flare.colchicine.dose }} mg {{ flare.colchicine.freq }}
            {% endif %}
            {% if flare.meloxicam %}
              {{ flare.meloxicam.dose }} mg {{ flare.meloxicam.freq }}
            {% endif %}
            {% if flare.ibuprofen %}
              {{ flare.ibuprofen.dose }} mg {{ flare.ibuprofen.freq }}
            {% endif %}
            {% if flare.naproxen %}
              {{ flare.naproxen.dose }} mg {{ flare.naproxen.freq }}
            {% endif %}
            {% if flare.celecoxib %}
              {{ flare.celecoxib.dose }} mg {{ flare.celecoxib.freq }}
            {% endif %}
            {% if flare.prednisone %}
              {{ flare.prednisone.dose }} mg {{ flare.prednisone.freq }}
            {% endif %}
            {% if flare.methylprednisolone %}
              {{ flare.methylprednisolone.dose }} mg {{ flare.methylprednisolone.freq }}
            {% endif %}
            </li>
            <li>Duration: {{ flare.duration }}</li>
            {% if flare.urate %}
            <li>Uric acid: {{ flare.urate }}</li>
            {% endif %}
          </ul>
        </div>
        <br>
      {% endfor %}
    {% endif %}
    </div>
    <div class="pagination">
      <span class="step-links">
          {% if page_obj.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}
  
          <span class="current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
  
          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">next</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
      </span>
  </div>
{% endblock content %}
