{% extends "base.html" %}
{% load static %}

<link rel="stylesheet" type="text/href="">
{% block content %}
<div class="container flare-index-column">
  <div class="row">
    <div class="col-lg">
        <p>Did you get your uric acid checked during your flare?</p>
        <select name="treatments" id="urate-decision">
            <option value=""></option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
        <br>
        <p>Have you already logged it?</p>
        <select name="treatments" id="urate-logged">
            <option value=""></option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
        <br>
        <p>Do you want to?</p>
        <select name="treatments" id="urate-desire">
            <option value=""></option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
    </div>
    <div class="col-lg">
        <div>
        <p>Did you treat your flare?</p>
        <select name="treatments" id="treatment-decision">
            <option value=""></option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
        <br>
        <p>Have you already logged it?</p>
        <select name="treatments" id="treatment-logged">
            <option value=""></option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
        <br>
        <p>Do you want to?</p>
        <select name="treatments" id="treatment-desire">
            <option value=""></option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
        </div>
    </div>
  </div>
</div>
<a class="btn btn-primary btn-lg" id="flare-no-urate-button" href="{% url 'flare:create' %}" role="button">Log your Flare</a>
<a class="btn btn-primary btn-lg" id="flare-with-urate-button" href="{% url 'flare:flareuratecreate' %}" role="button">Log your Flare</a>
{% endblock content %}

{% block inline_javascript %}
<script>
    // this is executed once when the page loads
  $(document).ready(function() {
    flare_base();
    // set things up so my function will be called when option changes
    $('#urate-decision').change(urate_decider);
      urate_decider.call($('#urate-decision').get(0));
    $('#urate-logged').change(urate_decider);
    urate_decider.call($('#urate-logged').get(0));
    $('#urate-desire').change(urate_decider);
    urate_decider.call($('#urate-desire').get(0));
    });
</script>
{% endblock inline_javascript %}
