    <div class="btn-group" role="group" aria-label="Button group with nested dropdown" style="float: right;">
      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown"
          aria-expanded="false">
          Log a Lab
        </button>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1" id="dropdown">
          <li><a class="dropdown-item" href="{% url 'lab:single-ultplan-create' lab='urate' pk=view.kwargs.pk %}">Uric Acid</a></li>
          <li><a class="dropdown-item" href="{% url 'lab:single-ultplan-create' lab='ALT' pk=view.kwargs.pk %}">ALT</a></li>
          <li><a class="dropdown-item" href="{% url 'lab:single-ultplan-create' lab='AST' pk=view.kwargs.pk %}">AST</a></li>
          <li><a class="dropdown-item" href="{% url 'lab:single-ultplan-create' lab='WBC' pk=view.kwargs.pk %}">WBC</a></li>
          <li><a class="dropdown-item" href="{% url 'lab:single-ultplan-create' lab='hemoglobin' pk=view.kwargs.pk %}">Hemoglobin</a></li>
          <li><a class="dropdown-item" href="{% url 'lab:single-ultplan-create' lab='platelet' pk=view.kwargs.pk %}">Platelets</a></li>
          <li><a class="dropdown-item" href="{% url 'lab:single-ultplan-create' lab='creatinine' pk=view.kwargs.pk %}">Creatinine</a></li>
        </ul>
      </div>
    </div>
