{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="jumbotron-fluid gdc-default-list">
        <div class="row">
          <div class="col">
            <h1 class="display-4">Lab Testing and Gout</h1>
            <p class="lead">Lab testing is important in gout!</p>
            <hr class="my-4">
            <p>Labs are important in several gouty situations:</p>
                <ul>
                    <li>Diagnosis of gout, particularly the initial diagnosis</li>
                    <li>Medical management of gout</li>
                        <ul>
                            <li>Determining which medictions are best for your gout</li>
                            <li>Monitoring for side effects of gout medications</li>
                        </ul>
                </ul>
          </div>
          {% if request.user.is_authenticated %}
          <div class="col">
            <a class="btn btn-primary" href="{% url 'lab:index' %}" role="button" style="float: right;">Your Labs</a>
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown" style="float: right;">
              <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  Log a Lab
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1" id="dropdown">
                  <li><a class="dropdown-item" href="{% url 'lab:urate-create' %}">Uric Acid</a></li>
                  <li><a class="dropdown-item" href="{% url 'lab:ALT-create' %}">ALT</a></li>
                  <li><a class="dropdown-item" href="{% url 'lab:AST-create' %}">AST</a></li>
                  <li><a class="dropdown-item" href="{% url 'lab:WBC-create' %}">WBC</a></li>
                  <li><a class="dropdown-item" href="{% url 'lab:hemoglobin-create' %}">Hemoglobin</a></li>
                  <li><a class="dropdown-item" href="{% url 'lab:platelet-create' %}">Platelets</a></li>
                  <li><a class="dropdown-item" href="{% url 'lab:creatinine-create' %}">Creatinine</a></li>
                </ul>
              </div>
            </div>
          </div>
          {% else %}
          <div class="col">
                  <div class="container-fluid gdc-container-subcontainer">
                    <p><a id="log-in-link" class="btn btn-primary" href="{% url 'account_login' %}" role="button">Log In</a> to see your labs!</p>
                  </div>
          </div>
          {% endif %}
          </div>
        </div>
        <br>

      <div class="row">
        <div class="col-sm">
          <div class="container gdc-default-list">
              <h3>Diagnosis of Gout</h3>
              <p>The diagnosis gout is clinical, but labs help. Labs can increase or decrease a provider's clinical suspicion for gout (<a class="link-primary" href="https://en.wikipedia.org/wiki/Pre-_and_post-test_probability" target="_blank">pre-test probability</a>).</p>
              <ol>
                <li>
                 Measure your serum <a class="link-primary" href="{% url 'lab:about' 'urate' %}">uric acid</a>. Very high levels make gout more likely (but not 100%). Very low levels make gout unlikely (though not impossible). Intermediate or normal levels don't help one way or the other. Serum uric acid drops during flares of gout.
                </li>
                <li>
                 We can also measure your liver and kidney function as well as blood counts. These are important when picking medications to treat your gout, both for the flare and for long-term management.
                </li>
              </ol>
            </div>
        </div>
        <div class="col-sm">
          <div class="container gdc-default-list">
             <h3> Management of Gout</h3>
             <p>Labs are used in the management of gout to: </p>
             <ol>
               <li>
                Confirm that your uric acid is at goal.
               </li>
                <ul>
                  <li>This determines when you can stop taking medications to prevent a flare.</li>
                  <li>It also will help you and your doctor know when you are at low or no risk of having gout flares.</li>
                </ul>
               <li>
                Make sure that you aren't having any side effects from your medications.
               </li>
             </ol>
          </div>
        </div>
        </div>
    </div>
</div>
<br>
{% endblock content %}
