{% extends "lab/lab_about_base.html" %}
{% load static %}

{% block intro %}
<p>ALT is an enzyme (protein) made in the liver, as well as other organs (muscle, bone), that we use to monitor for hepatotoxicity (liver damage) due to gout medications.</p>
{% endblock intro %}

{% block quicklinks %}
<h2>Quick Links</h2>
<ol>
    <li><a href="#biology">Biology</a></li>
    <li><a href="#chemistry">Chemistry</a></li>
    <li><a href="#history">History</a></li>
    <li><a href="#ingout">In Gout</a></li>
    <li><a href="#references">References</a></li>
</ol>
{% endblock quicklinks %}

{% block biology %}
<h2 class="nested-container"><a id="biology">Biology</a></h2>
<p>ALT is a liver enzyme, but is also made in many other parts of the body:</p>
<ol>
    <li>Muscle</li>
    <li>Bone</li>
</ol>
<hr size="6" color="navy">
{% endblock biology %}
{% block chemistry %}
<h2 class="nested-container"><a id="chemistry">Chemistry</a></h2>
<hr size="6" color="navy">
{% endblock chemistry %}
{% block history %}
<h2 class="nested-container"><a id="history">History</a></h2>
<hr size="6" color="navy">
{% endblock history %}
{% block ingout %}
<h2 class="nested-container"><a id="ingout">In Gout</a></h2>
<hr size="6" color="navy">
{% endblock ingout %}
{% block references %}
<h2 class="nested-container"><a id="references">References</a></h2>
<hr size="6" color="navy">
{% endblock references %}
