{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
<h1>ALTs</h1>
  {% if object_list %}
    <div class="row">
      <div class="col">
      {% for ALT in object_list %}
        <div class="container user-flare-list"
          <h5>{{ ALT.alt_sgpt }} mg/dL</h5>
          <h6>Date: <a href="{% url 'lab:ALT-detail' ALT.pk %}">{{ ALT.created }}</a></h6>
        </div>
        <br>
      {% endfor %}
      </div>
    </div>
  {% endif %}
</div>
<br>
<a class="btn btn-primary" href="{% url 'lab:index' %}" role="button">Lab Home</a>
{% endblock content %}
