{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
  {% if object_list %}
    {% for creatinine in object_list %}
      <div class="row">
        <div class="col-sm-12">
          <a class="btn btn-primary" href="{% url 'lab:creatinine-update' creatinine.pk %}" role="button">Update
          <h2>{{ creatinine.creatinine }}</h2></a>
          <h4>{{ creatinine.created }}</h4>
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>
{% endblock content %}
