{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Hemoglobin</h1>
      <ul>
        <li>{{ object.hemoglobin }} mg/dL</li>
        <li>Logged: {{ object.created }}</li>
      </ul>
    </div>
  </div>
<a class="btn btn-primary" href="{% url 'lab:hemoglobin-update' hemoglobin.pk %}" role="button">Update</a>
<a class="btn btn-primary" href="{% url 'lab:hemoglobin-list' %}" role="button">List</a>
<a class="btn btn-primary" href="{% url 'lab:log' %}" role="button">Lab Home</a>
</div>
{% endblock content %}
