{% extends "base.html" %}
{% load static %}
{% load lab_extras %}

{% block content %}
<main role="main" class="container content-container">
    <h1 class="content-heading">{{ request.user|capfirst }}'s ULTPlan Labs<a class="btn btn-primary btn-lg" href="{% url 'lab:about' 'alllabs' %}" role="button" style="float: right;">About Labs</a>
    {% include 'lab/_ultplan_lab_create_button.html' %}
    </h1>
    <div class="row">
      <div class="col">
        {% if labs %}
          {% for lab in labs %}
            {% if lab != None %}
            <div class="container content">
              <h2><a href="{% url 'lab:list' lab|to_class_name %}">{{ lab.name|capfirst}}</h2></a>
              <ul>
                <li>{{ lab.value }} {{ lab.urate.units }}</li>
                <li>{% if lab.date_drawn %} Drawn: {{ lab.date_drawn }} {% else %} Created: {{ lab.created }}{% endif %}</li>
              </ul>
            </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
</main>
{% endblock content %}
