{% extends "base.html" %}
{% load static %}
{% load lab_extras %}

{% block content %}

<div class="container">
  <main></main>
    <div class="row">
      <div class="col">
        <div class="container gdc-default">
          {% block lab_title %}
          <h1>
            {{ object|to_class_name }} ({{ object.date_drawn.date }})
          </h1>
          {% endblock lab_title %}
          <ul>
            <li class="gdc-list">{{ object.value }} {{ object.units }}</li>
            <li class="gdc-list">Drawn on: {{ object.date_drawn }}</li>
            <li class="gdc-list">Logged: {{ object.created }}</li>
            <li class="gdc-list">Last modified: {{ object.modified }}</li>
          </ul>
      </div>
      </div>
    </div>
  </main>
  <br>
  {% block buttons %} {% endblock buttons %}
</div>
{% endblock content %}
