{% extends "base.html" %}
{% load static %}
{% load lab_extras %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            {% if object_list %}
                {% block lab_title %}
                <h1><a href="{% url 'lab:{{ object_list|list_to_name }}-about' %}" class="hyperlink">{{ object_list|list_to_name }}s</a></h1>
                {% endblock lab_title %}
        </div>
        <div class="col" >
            {% if page_obj %}
                <div class="pagination" style="float: right;">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1" class="hyperlink">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}" class="hyperlink">previous</a>
                        {% endif %}
                
                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                        </span>
                
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}" class="hyperlink">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}" class="hyperlink">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% for lab in page_obj %}
                <div class="container gdc-default">
                    <h5 class="gdc-legend">{{ lab.value }} {{ lab.units }}</h5>
                    <h6 class="gdc-legend">Date: <a href="{{ lab.get_absolute_url }}" class="hyperlink">{{ lab.date_drawn.date }}</a></h6>
                </div>
                <br>
            {% endfor %}
        </div>
    </div>
            {% endif %}
            {% else %}
                <div>
                    <p>{{ object_list|list_to_name }}!</p>
                </div>
            {% endif %}
{% block buttons %}{% endblock buttons %}
</div>
<br>
{% endblock content %}
