{% extends "base.html" %}
{% load static %}
{% load lab_extras %}

{% block content %}
<main class="container content-container">
  {% if object_list %}
    <header class="page-header">
    {% block lab_title %}
        <h1 class="content-heading">{{ object_list|list_to_name }}s
    {% endblock lab_title %}
    {% block buttons %}
      {% include 'lab/_list_buttons.html' %}
    {% endblock buttons %}
    </h1>
    </header>
    <div class="row">
        <div class="col">
          {% for lab in object_list %}
              <div class="container content-item">
                  <h2>{{ lab.value }} {{ lab.units }} <a href="{{ lab.get_absolute_url }}" class="hyperlink">{% if lab.date_drawn %}{{ lab.date_drawn }}{% else %} {{ lab.created }} {% endif %}</a></h2>
                  {% if lab.name == 'creatinine' %}
                  <li class="gdc-list">eGFR: {{ lab.eGFR_calculator }}</li>
                  {% endif %}
              </div>
              <br>
          {% endfor %}
          <footer class="page-footer">
            {% if page_obj %}
              <div class="pagination" style="float: right;">
                <span class="step-links">
                  {% if page_obj.has_previous %}
                    <a href="?page=1" class="hyperlink">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}" class="hyperlink">previous</a>
                  {% endif %}
                  <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                  </span>
                  {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="hyperlink">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}" class="hyperlink">last &raquo;</a>
                  {% endif %}
                </span>
            {% endif %}
            </div>
          </footer>
        </div>
  {% endif %}
</main>
{% endblock content %}
