{% extends "base_form.html" %}
{% load crispy_forms_tags %}
{% load lab_extras %}

{% block title %}New {{ lab }}{% endblock %}

{% block header %}
<h1 class="nested-container">New {{ lab }}</h1>
{% endblock header %}

{% block form %}
  {% if form.instance.pk %}
    <form class="form-horizontal gdc-default" method="post" action="{% url 'lab:update' lab object.pk %}">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary">
            Update
          </button>
        </div>
      </div>
    </form>
  {% else %}
    <form class="form-horizontal gdc-default" method="post" action="{% url 'lab:create' lab %}">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary">
            Create
          </button>
        </div>
      </div>
    </form>
  {% endif %}
{% endblock form %}
