{% extends "base_form.html" %}
{% load crispy_forms_tags %}

{% block title %}
{% if form.instance.pk %} Update Lab Check {% else %} New Lab Check {% endif %} {% endblock%}
{% block header %}
{% if form.instance.pk %}
<h1>Update Lab Check</h1>
{% else %}
<h1>New Lab Check</h1>
{% endif %}
{% endblock header %}
{% block form %}
{% if form.instance.pk %}
  <form method="post" action="{% url 'lab:labcheck-update' pk=object.pk %}">
    {% csrf_token %}
    {% crispy form %}
    {% crispy alt_form %}
    {% crispy ast_form %}
    {% crispy creatinine_form %}
    {% crispy hemoglobin_form %}
    {% crispy platelet_form %}
    {% crispy wbc_form %}
    {% crispy urate_form %}
    <input class="btn btn-primary btn-lg" type="submit" value="Submit">
  </form>
{% else %}
  <form method="post" action="{% url 'lab:labcheck-create' %}">
    {% csrf_token %}
    {% crispy form %}
    {% crispy alt_form %}
    {% crispy ast_form %}
    {% crispy creatinine_form %}
    {% crispy hemoglobin_form %}
    {% crispy platelet_form %}
    {% crispy wbc_form %}
    {% crispy urate_form %}
    <input class="btn btn-primary btn-lg" type="submit" value="Submit">
  </form>
{% endif %}
{% endblock form %}
{% block inline_javascript %}
{% endblock inline_javascript %}
