{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Lab lists</h1>
        <a class="btn btn-primary" href="{% url 'lab:urate-list' %}" role="button">Uric Acid</a>
        <a class="btn btn-primary" href="{% url 'lab:ALT-list' %}" role="button">ALT</a>
        <a class="btn btn-primary" href="{% url 'lab:AST-list' %}" role="button">AST</a>
        <a class="btn btn-primary" href="{% url 'lab:platelet-list' %}" role="button">Platelet</a>
        <a class="btn btn-primary" href="{% url 'lab:WBC-list' %}" role="button">WBC</a>
        <a class="btn btn-primary" href="{% url 'lab:hemoglobin-list' %}" role="button">Hemoglobin</a>
        <a class="btn btn-primary" href="{% url 'lab:creatinine-list' %}" role="button">Creatinine</a>
      </div>
    </div>
  </div>
<br>
<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Log a new lab</h1>
        <a class="btn btn-primary" href="{% url 'lab:urate-create' %}" role="button">Uric Acid</a>
        <a class="btn btn-primary" href="{% url 'lab:ALT-create' %}" role="button">ALT</a>
        <a class="btn btn-primary" href="{% url 'lab:AST-create' %}" role="button">AST</a>
        <a class="btn btn-primary" href="{% url 'lab:platelet-create' %}" role="button">Platelet</a>
        <a class="btn btn-primary" href="{% url 'lab:WBC-create' %}" role="button">WBC</a>
        <a class="btn btn-primary" href="{% url 'lab:hemoglobin-create' %}" role="button">Hemoglobin</a>
        <a class="btn btn-primary" href="{% url 'lab:creatinine-create' %}" role="button">Creatinine</a>
      </div>
    </div>
  </div>
{% endblock content %}
