{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
<h1>Platelets</h1>
  {% if object_list %}
    <div class="row">
      <div class="col">
      {% for platelet in object_list %}
        <div class="container user-flare-list">
          <h5>{{ platelet.platelets }} platelets / miroliter</h5>
          <h6>Date: <a href="{% url 'lab:platelet-detail' platelet.pk %}">{{ platelet.created }}</a></h6>
        </div>
        <br>
      {% endfor %}
      </div>
    </div>
  {% endif %}
</div>
<br>
<a class="btn btn-primary" href="{% url 'lab:index' %}" role="button">Lab Home</a>
{% endblock content %}
