{% extends "lab/lab_about_base.html" %}
{% load static %}

{% block intro %}
<p><a href="https://en.wikipedia.org/wiki/Uric_acid" target="_blank">Uric acid</a> is the most well recognized and important lab for the understanding and management of gout.
  Elevated levels of <a href="https://en.wikipedia.org/wiki/Uric_acid" target="_blank">uric acid</a> in the blood cause it to deposit in the joints where it can cause inflammation (gout attacks).
  <a href="https://en.wikipedia.org/wiki/Uric_acid" target="_blank">Uric acid</a> is consumed in our diet as well as produced by our body's normal functions.
  It is disposed of by the kidneys.
</p>
{% endblock intro %}

{% block quicklinks %}
<h2 class="nested-container">Quick Links</h2>
<ol>
    <li><a href="#biology">Biology</a></li>
    <li><a href="#chemistry">Chemistry</a></li>
    <li><a href="#history">History</a></li>
    <li><a href="#ingout">In Gout</a></li>
    <li><a href="#references">References</a></li>
</ol>
{% endblock quicklinks %}

{% block biology %}
<h2 class="nested-container"><a id="biology">Biology</a></h2>
<p><a href="https://en.wikipedia.org/wiki/Uric_acid" target="_blank">Uric acid</a> in the human body is derived from two sources: </p>
<ol>
    <li>Dietary consumption in the form of <a href="https://en.wikipedia.org/wiki/Purine" target="_blank">purines</a>.
    Eating <a href="https://en.wikipedia.org/wiki/Purine" target="_blank">purine</a>-rich foods are associated with elevated levels of blood <a href="https://en.wikipedia.org/wiki/Uric_acid" target="_blank">uric acid</a> (<a href="#1">1</a>).</li>
    <li>Bodily production as a part of normal cellular metabolism.</li>
</ol>
<h3><u>Diet</u></h3>
<p>Gout was historically termed the "disease of kings" due to its afflicting only the wealthy societal elite.
  When this is appreciated in the context of gout exacerbations occurring in close temporal relation to dietary overindulgence, it is clear diet plays a strong role in gout predilection.
  We now know that gout is driven by <a href="https://en.wikipedia.org/wiki/Uric_acid" target="_blank">uric acid</a> and that dietary factors leading to increased urate load drive gout.
  The nobility's diet in less modern times was more plentiful and contained more gout-causing items, such as wine, organ meats, shellfish, and red meat.
</p>
<p>Several different types of foods drive urate production, however they all drive urate production via <a href="https://en.wikipedia.org/wiki/Purine" target="_blank">purines</a>.
<a href="https://en.wikipedia.org/wiki/Alcohol_(drug)" target="_blank">Alcohol</a> receives the most notoriety as a gout precipitant.
Alcohol, even in moderate quantities increases risk of gout, particularly in the first 24 hours after consumption. The risk goes up with each subsequent drink (<a href="#2">2</a>).
Beer is the most risky, followed by spirits, whereas moderate wine consumption does not increase risk (<a href="#3">3</a>).
This simply reflects the relative purine levels in each type of beverage
</p>
<p>
In line with gout being the "disease of kings", <a href="https://en.wikipedia.org/wiki/Purine" target="_blank">purine</a>-rich foods drive the body's production of urate.
Commonly recognized examples are some seafoods, red meat, and organ meats.
<ul>
  <li>Seafoods: anchovies, sardines, tuna, and shellfish (mussels, scallops, shrimp, etc.)</li>
  <li>Red meat: beef, lamb, and pork (is this really a red meat?!)</li>
  <li>Organ meats: liver, kidney, sweetbread</li>
</ul>
</p>
<p>
The final important dietary factor to consider is <a href="https://en.wikipedia.org/wiki/Fructose" target="_blank">fructose</a>.
While commonly described as "fruit-based", fructose has health consequences in that it is very sweet and very cheap and thus is easily consumed in excess.
Fructose consumption and metabolism causes the body to produce <a href="https://en.wikipedia.org/wiki/Purine" target="_blank">purines</a> and subsequently uric acid.
</p>
<hr size="6" color="white">
{% endblock biology %}
{% block chemistry %}
<h2 class="nested-container"><a id="chemistry">Chemistry</a></h2>
<hr size="6" color="white">
{% endblock chemistry %}
{% block history %}
<h2 class="nested-container"><a id="history">History</a></h2>
<hr size="6" color="white">
{% endblock history %}
{% block ingout %}
<h2 class="nested-container"><a id="ingout">In Gout</a></h2>
<p>In individuals who have had gout previously, consumption of <a href="https://en.wikipedia.org/wiki/Purine" target="_blank">purine</a>-rich foods is associated with gout flares (<a href="#4">4</a>).</p>

<hr size="6" color="white">
{% endblock ingout %}
{% block references %}
<h2 class="nested-container"><a id="references">References</a></h2>
<ol>
  <li id="1">Choi, H.K., Liu, S. and Curhan, G. (2005), Intake of purine-rich foods, protein, and dairy products and relationship to serum levels of uric acid: The Third National Health and Nutrition Examination Survey. Arthritis & Rheumatism, 52: 283-289. https://doi.org/10.1002/art.20761</li>
  <li id="2">Yuqing Zhang, Ryan Woods, Christine E. Chaisson, Tuhina Neogi, Jingbo Niu, Timothy E. McAlindon, David Hunter, Alcohol Consumption as a Trigger of Recurrent Gout Attacks, The American Journal of Medicine, Volume 119, Issue 9, 2006, Pages 800.e11-800.e16, ISSN 0002-9343, https://doi.org/10.1016/j.amjmed.2006.01.020.</li>
  <li id="3">Hyon K Choi, Karen Atkinson, Elizabeth W Karlson, Walter Willett, Gary Curhan, Alcohol intake and risk of incident gout in men: a prospective study, The Lancet, Volume 363, Issue 9417, 2004, Pages 1277-1281, ISSN 0140-6736, https://doi.org/10.1016/S0140-6736(04)16000-5.</li>
  <li id="4">Zhang Y, Chen C, Choi H, Chaisson C, Hunter D, Niu J, Neogi T. Purine-rich foods intake and recurrent gout attacks. Ann Rheum Dis. 2012 Sep;71(9):1448-53. doi: 10.1136/annrheumdis-2011-201215. Epub 2012 May 30. PMID: 22648933; PMCID: PMC3889483.</li>
</ol>
<hr size="6" color="white">
{% endblock references %}
