{% extends "lab/lab_detail_base.html" %}
{% load static %}

{% block buttons %}
  <a class="btn btn-primary" href="{% url 'lab:about' 'urate' %}" role="button">About Urate</a>
  <a class="btn btn-primary" href="{% url 'lab:urate-update' urate.pk %}" role="button">Update</a>
  <a class="btn btn-primary" href="{% url 'lab:urate-create' %}" role="button">Log a Urate</a>
  <a class="btn btn-primary" href="{% url 'lab:urate-list' %}" role="button">Urate List</a>
  <a class="btn btn-primary" href="{% url 'lab:index' %}" role="button">Lab Home</a>
{% endblock buttons %}
