{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>WBC</h1>
      <ul>
        <li>{{ object.white_blood_cells }} thousand cells per cubic mm</li>
        <li>Logged: {{ object.created }}</li>
      </ul>
    </div>
  </div>
  <a class="btn btn-primary" href="{% url 'lab:WBC-update' object.pk %}" role="button">Update</a>
  <a class="btn btn-primary" href="{% url 'lab:WBC-list' %}" role="button">List</a>
  <a class="btn btn-primary" href="{% url 'lab:log' %}" role="button">Lab Home</a>
</div>
{% endblock content %}
