{% extends "base.html" %}
{% load static %}
{% load ultplan_extras %}

{% block content %}
<main class="container-fluid content-container">
  <a class="btn btn-primary btn-lg" href="{% url 'ultplan:delete' pk=object.pk %}" role="button"
    style="float: right;">Delete</a>
  {% include 'lab/_ultplan_lab_create_button.html' %}
<h1>{{ object }}</h1>
<div class="row">
  <div class="col">
    <h2>Treatment</h2>
    <ul>
      <li>ULTAid: {{ object.get_ult }}</li>
      <li>PPxAid: {{ object.get_ppx }} </li>
      <li>Under titration: {{ object.titrating }}</li>
      <li>Last medication titration: {{ object.last_titration}}</li>
    </ul>
  </div>
  <div class="col">
    {% if object.last_labcheck %}
      {% if object.labcheck_due == True %}
      <a class="btn btn-primary btn-sm" href="{% url 'lab:labcheck-update' pk=object.last_labcheck.pk %}" role="button"
        style="float: right;">Log Labs</a>
      {% endif %}
      <a class="btn btn-primary btn-sm" href="{% url 'lab:list' lab='labcheck' %}"
        role="button" style="float: right;">Lab List</a>
      <h2>
        Lab Monitoring
      </h2>
      <h3>Goal uric acid: {{ object.goal_urate }}</h3>
      <h3>Interval between labs: {{ object.titration_lab_interval|duration_in_days }}</h3>
      <h3>Next LabCheck: {{ object.last_labcheck }}</h3>
      <ul>
        <li>Due: {{ object.last_labcheck.due }}</li>
        {% if object.last_labcheck.overdue %}
          <li>LabCheck Overdue: {{ object.labcheck.overdue }}</li>
          {% if object.labs_due != "none" %}
            <li>Overdue labs: {{ object.labs_due }}</li>
          {% endif %}
        {% endif %}
      </ul>

      {% if object.last_completed_labcheck %}
        <h3>Last Lab Check: {{ object.last_completed_labcheck }}</h3>
          <ul>
            {% if object.last_completed_labcheck.check_completed_labs %}
              <li><h4>Abnormal Labs</h4></li>
              <ul>
              {% for lab in object.last_completed_labcheck.check_completed_labs %}
                <li>{{ lab }} ({{ object.last_completed_labcheck.check_completed_labs|get_key:lab|get_key:'highorlow' }})</li>
              {% endfor %}
              </ul>
            {% endif %}
            <li>Due: {{ object.last_completed_labcheck.due }}</li>
            <li>Completed: {{ object.last_completed_labcheck.due }}</li>
          </ul>
      {% endif %}
    {% endif %}
  </div>
</div>
</main>
{% endblock content %}

{% block inline_javascript %}

{% endblock inline_javascript %}
