{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="container-fluid content-container">
  <a class="btn btn-primary btn-lg" href="{% url 'ultplan:delete' pk=object.pk %}" role="button"
    style="float: right;">Delete</a>
  {% include 'lab/_ultplan_lab_create_button.html' %}
<h1>{{ object }}</h1>
<div class="row">
  <div class="col">
    <h2>Treatment</h2>
    <ul>
      <li>ULTAid: {{ object.get_ult }}</li>
      <li>PPxAid: {{ object.get_ppx }} </li>
      <li>Under titration: {{ object.titrating }}</li>
      <li>Last medication titration: {{ object.last_titration}}</li>
    </ul>
  </div>
  <div class="col">
    {% if object.last_labcheck %}
      {% if object.labcheck_due == True %}
      <a class="btn btn-primary btn-sm" href="{% url 'lab:labcheck-update' pk=object.last_labcheck.pk %}" role="button"
        style="float: right;">Log Labs</a>
      {% endif %}
      <a class="btn btn-primary btn-sm" href="{% url 'lab:list' lab='labcheck' %}"
        role="button" style="float: right;">Lab List</a>
      <h2>
        Lab Monitoring
      </h2>
      {% if object.labcheck.overdue %}
        <h3>LabCheck Overdue: {{ object.labcheck.overdue }}</h3>
      {% endif %}
      {% if object.labcheck_due == False %}

      {% endif %}
      <ul>
        <li>Goal uric acid: {{ object.goal_urate }}</li>
        <li>Interval between labs: {{ object.lab_interval }}</li>
        <li>Lab Check: {{ object.last_labcheck }}</li>
        <li>Due: {{ object.labcheck.due }}
        <li>Overdue labs: {{ object.labs_due }}
      </ul>
    {% endif %}
  </div>
</div>
</main>
{% endblock content %}

{% block inline_javascript %}

{% endblock inline_javascript %}
