{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="container-fluid content-container">
  <a class="btn btn-primary btn-lg" href="{% url 'lab:ultplan-create' ultplan=object.pk %}" role="button"
    style="float: right;">Lab Checkin</a>
  <a class="btn btn-primary btn-lg" href="{% url 'ultplan:delete' pk=object.pk %}" role="button"
    style="float: right;">Delete</a>
  {% include 'lab/_ultplan_lab_create_button.html' %}
<h1>{{ object }}</h1>
<ul>
  <li>User: {{ object.user }}</li>
  <li>ULTAid: {{ object.ultaid }}</li>
  <li>ULTAid: {{ object.allopurinol }}</li>
  <li>ULTAid: {{ object.febuxostat }}</li>
  <li>PPxAid: {{ object.ppxaid }}</li>
  <li>PPxAid: {{ object.naproxen }}</li>
  <li>PPxAid: {{ object.ibuprofen }}</li>
  <li>PPxAid: {{ object.prednisone }}</li>
  <li>PPxAid: {{ object.colchicine }}</li>
  <li>Goal uric acid: {{ object.goal_urate }}</li>
  <li>Interval between labs: {{ object.lab_interval }}</li>
  <li>Under titration: {{ object.titrating }}</li>
  <li>Last medication titration: {{ object.last_titration}}</li>
  <li>Overdue labs: {{ object.lab_status }}
</ul>

</main>
{% endblock content %}

{% block inline_javascript %}

{% endblock inline_javascript %}
