{% if object.colchicine_interactions.value %}
<div class="col">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingColchicineInteractions">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseColchicineInteractions" aria-expanded="false"
        aria-controls="panelsStayOpen-collapseColchicineInteractions">
        Colchicine Medication Interactions
      </button>
    </h2>
    <div id="panelsStayOpen-collapseColchicineInteractions" class="accordion-collapse collapse"
      aria-labelledby="panelsStayOpen-headingColchicineInteractions">
      <div class="accordion-body">
        <ul>
          <li>Being on a medication that strongly interacts with colchicine is a relative contraindication to the
            use of the latter.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% if object.allopurinol_hypersensitivity.value %}
<div class="col">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingAllopurinolHypersensitivity">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseAllopurinolHypersensitivity" aria-expanded="false"
        aria-controls="panelsStayOpen-collapseAllopurinolHypersensitivity">
        Allopurinol Hypersensitivity
      </button>
    </h2>
    <div id="panelsStayOpen-collapseAllopurinolHypersensitivity" class="accordion-collapse collapse"
      aria-labelledby="panelsStayOpen-headingAllopurinolHypersensitivity">
      <div class="accordion-body">
        <ul>
          <li>Hypersensitivity to allopurinol precludes its use.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% if object.febuxostat_hypersensitivity.value %}
<div class="col">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingFebuxostatHypersensitivity">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseFebuxostatHypersensitivity" aria-expanded="false"
        aria-controls="panelsStayOpen-collapseFebuxostatHypersensitivity">
        Febuxostat Hypersensitivity
      </button>
    </h2>
    <div id="panelsStayOpen-collapseFebuxostatHypersensitivity" class="accordion-collapse collapse"
      aria-labelledby="panelsStayOpen-headingFebuxostatHypersensitivity">
      <div class="accordion-body">
        <ul>
          <li>Hypersensitivity to febuxostat (Uloric) precludes its use.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% if object.cyclosporine.value %}
<div class="col">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingCyclosporine">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseCyclosporine" aria-expanded="false"
        aria-controls="panelsStayOpen-collapseCyclosporine">
        Febuxostat Hypersensitivity
      </button>
    </h2>
    <div id="panelsStayOpen-collapseCyclosporine" class="accordion-collapse collapse"
      aria-labelledby="panelsStayOpen-headingCyclosporine">
      <div class="accordion-body">
        <ul>
          <li>Cyclosporine impairs uric acid excretion through the kidneys and can exacerbate gout.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endif %}
