<div class="row">
  <div class="col">
    <h1>Medical History
      <a class="btn btn-primary btn-lg" href="{% url 'profiles:update-medical' object.username %}"
        role="button">Update</a>
    </h1>
  </div>
</div>
<hr size="6" color="white">

<div class="row">
  {% include 'users/_cellcounts.html' %}
  {% include 'users/_transaminitis.html' %}
  {% include 'users/_ckd.html' %}
  {% include 'users/_bleedrisk.html' %}
  {% include 'users/_cardiovascular.html' %}
  {% include 'users/_comorbidities.html' %}
  {% include 'users/_gout.html' %}
  {% include 'users/_medications.html' %}
</div>


