    <div class="row">
      <div class="col">
        <h1>{{ object.username|capfirst}}'s Profile
        <a class="btn btn-primary btn-lg" href="{% url 'profiles:update' object.username %}" role="button">Update</a>
        <a class="btn btn-primary btn-lg" href="{% url 'account_email' %}" role="button">E-Mail</a>
        {% if request.user.role == "PROVIDER" %}
        <div class="dropdown">
          <button class="btn btn-primary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Flare
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'flare:user-create' object.username %}">Create</a>
            <a class="dropdown-item"
              href="{% url 'flare:list' object.username %}">List</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="btn btn-primary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            FlareAid
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="">{% if object.flareaid %}UpdateLink{% else %}CreateLink{% endif %}</a>
            <a class="dropdown-item" href="">ListLink</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="btn btn-primary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            ULT
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'ult:user-detail' object.username %}">Detail</a>
            <a class="dropdown-item" href="{% url 'ult:user-create' object.username %}">{% if object.ult %}Update{% else %}Create{% endif %}</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="btn btn-primary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ULTAid
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'ultaid:user-detail' object.username %}">Detail</a>
            <a class="dropdown-item"
              href="{% url 'ultaid:user-create' object.username %}">{% if object.ultaid %}Update{% else %}Create{% endif %}</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="btn btn-primary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            PPxAid
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'ppxaid:user-detail' object.username %}">Detail</a>
            <a class="dropdown-item"
              href="{% url 'ppxaid:user-create' object.username %}">{% if object.ppxaid %}Update{% else %}Create{% endif %}</a>
          </div>
        </div>
        <form method="post" action="{% url 'ultplan:create' object.username %}">
          {% csrf_token %}
          <button class="btn btn-primary btn-lg" role="button" id="ultplan-create" type="submit"
            value="treatment">ULTPlan</button>
        </form>
        {% endif %}
        </h1>
      </div>
    </div>
    <hr size="6" color="white">
    <div class="row">
      <div class="col">
        <h2><u>Demographics</u></h2>
        <ul id="main-profile-list">
        {% if object.patientprofile.date_of_birth %}
            <li>Age: {{ object.patientprofile.age }}</li>
        {% endif %}
        {% if object.patientprofile.gender %}
            <li>Gender: {{ object.patientprofile.gender|capfirst }}</li>
        {% endif %}
        {% if object.patientprofile.race %}
          <li>Race: {{ object.patientprofile.race|capfirst }}</li>
        {% endif %}
        {% if object.patientprofile.weight.value %}
          <li><a href="{% url 'vitals:list' 'weight' %}">Weight:
              {{ object.patientprofile.weight }}</a></li>
        {% endif %}
        {% if object.patientprofile.height.value %}
          <li><a href="{% url 'vitals:list' 'height' %}">Height:
              {{ object.patientprofile.height }}</a></li>
        {% endif %}
        {% if object.patientprofile.weight.value and object.patientprofile.height.value %}
          <li>BMI: {{ object.patientprofile.BMI|stringformat:".1f" }}</li>
        {% endif %}
        </ul>
      </div>
    </div>



