
    <div class="row">
      <div class="col">
    <h1>{{ object.username|capfirst}}'s Profile
    {% if object == request.user %}
    <a class="btn btn-primary btn-lg" href="{% url 'profiles:update' request.user request.user.patientprofile.pk %}"
      role="button">Update</a>
    <a class="btn btn-primary btn-lg" href="{% url 'account_email' %}" role="button">E-Mail</a>
    {% elif perms.users.can_edit_patient %}
    <a class="btn btn-primary btn-lg" href="{% url 'profiles:update' object object.patientprofile.pk %}"
      role="button">Update</a>
    {% endif %}

    </h1>

    </div>
    </div>
    <hr size="6" color="white">
    <div class="row">
      <div class="col">
        <h2><u>Bio</u></h2>
        {% if object.patientprofile.bio %}
          <p>{{ object.patientprofile.bio }}</p>
        {% else %}
          <p>Your bio is sadly empty...</p>
        {% endif %}
        {% if object.patientprofile.provider %}
          {{ object.patientprofile.provider }}
          {{ object.patientprofile.pk }}
        {% endif %}
      </div>
      <div class="col">
        <h2><u>Demographics</u></h2>
        <ul id="main-profile-list">
        {% if object.patientprofile.date_of_birth %}
            <li>Age: {{ object.patientprofile.get_age }}</li>
        {% endif %}
        {% if object.patientprofile.gender %}
            <li>Gender: {{ object.patientprofile.gender|capfirst }}</li>
        {% endif %}
        {% if object.patientprofile.race %}
          <li>Race: {{ object.patientprofile.race|capfirst }}</li>
        {% endif %}
        {% if object.patientprofile.weight.value %}
          <li><a href="{% url 'vitals:list' 'weight' %}">Weight:
              {{ object.patientprofile.weight }}</a></li>
        {% endif %}
        {% if object.patientprofile.height.value %}
          <li><a href="{% url 'vitals:list' 'height' %}">Height:
              {{ object.patientprofile.height }}</a></li>
        {% endif %}
        {% if object.patientprofile.weight.value and object.patientprofile.height.value %}
          <li>BMI: {{ object.patientprofile.BMI_calculator|stringformat:".1f" }}</li>
        {% endif %}
        </ul>
      </div>
    </div>



