{% if object == request.user %}
<div class="row">
  <div class="col">
    <h1>{{ object.username|capfirst}}'s Profile
      <a class="btn btn-primary btn-lg"
        href="{% url 'profiles:provider-update' request.user.username %}" role="button">Update</a>
      <a class="btn btn-primary btn-lg"
        href="{% url 'users:provider-patient-list' request.user.username %}"
        role="button">Patients</a>
        <a class="btn btn-primary btn-lg" href="{% url 'account_email' %}" role="button">E-Mail</a>
      <a class="btn btn-primary btn-lg" href="{% url 'users:create' %}" role="button">Create Patient</a>
    </h1>
  </div>
</div>
{% endif %}
