<div class="container content-container">
    <h2><a href="{% url 'profiles:update-social' request.user request.user.socialprofile.pk %}">Social History</a></h2>
      {% if object.socialprofile.alcohol.value %}
      <ul>
        <li>Alcohol</li>
        {% if object.socialprofile.alcohol.number %}
        <li>Quantity per week: {{ object.socialprofile.alcohol.number }} <a
            href="https://en.wikipedia.org/wiki/Standard_drink" target="_blank">drinks</a></li>
        {% endif %}
        {% if object.socialprofile.alcohol.beer or object.socialprofile.alcohol.wine or object.socialprofile.alcohol.liquor %}
        <li>Types of Alcohol</li>
        <ul>
          {% if object.socialprofile.alcohol.beer %}
          <li>Beer</li>
          {% endif %}
          {% if object.socialprofile.alcohol.wine %}
          <li>Wine</li>
          {% endif %}
          {% if object.socialprofile.alcohol.liquor %}
          <li>Liquor</li>
          {% endif %}
        </ul>
        {% endif %}
        {% else %}
        {% endif %}
      </ul>
      {% if object.socialprofile.fructose.value %}
      <ul>
        <li>Fructose</li>
      </ul>
      {% endif %}
      {% if object.socialprofile.shellfish.value %}
      <ul>
        <li>Shellfish</li>
      </ul>
      {% endif %}
</div>

