{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<main class="container profile-container">
  {% if object.patientprofile %}
    {% include "users/patientprofile.html" %}
  {% endif %}
  <br>
  {% if object.medicalprofile %}
    {% include "users/medicalprofile.html" %}
  {% endif %}
</main>
<footer>
</footer>
{% endblock content %}
{% block inline_javascript %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% endblock inline_javascript %}
