{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
  <main role="main" class="container">
    <div class="media list-items">
        <div class="media-body">
          <h1>{{ object.username|capfirst}}</h1>
            {% if object.username %}
              {% if object.name %}
                <p>{{ object.name }}</p>
              {% endif %}
                <p>{{ object.get_role_display }}</p>
            {% endif %}
            {% if object.patientprofile.bio %}
              <p>{{ object.patientprofile.bio }}</p>
            {% endif %}
                      {% if object.patientprofile %}
            <p>Profile created on: {{ object.patientprofile.created }}</p>
            {% else %}
            <p>Want to complete your profile?</p>
            <a class="btn btn-primary" href="{% url 'profiles:create' %}" role="button">Create Profile</a>
            {% endif %}
        </div>
        {% if object.patientprofile.picture %}
          <div class="media">
          <img src="{{ object.patientprofile.picture.url }}" id="profilepic" width="250" height="250" alt="{{ object.username|capfirst }}'s Picture">
          </div>
        {% endif %}
    </div>

    <br>
    {% if object == request.user %}
    <div class="container gdc-default">
      <div class="row">
        <div class="col-sm">
            {% if object.patientprofile.date_of_birth %}
            <li class ="list-items-small">Date of Birth: {{ object.patientprofile.date_of_birth }}</li>
            <li class ="list-items-small">Age: {{ object.patientprofile.get_age }}</li>
            {% endif %}
            {% if object.patientprofile.gender %}
              <li class ="list-items-small">Gender: {{ object.patientprofile.gender|capfirst }}</li>
            {% endif %}
            {% if object.patientprofile.race %}
              <li class ="list-items-small">Race: {{ object.patientprofile.race|capfirst }}</li></li>
            {% endif %}
            {% if object.patientprofile.weight %}
              <li class ="list-items-small"><a href="{% url 'vitals:list' 'weight' %}">Weight: </a><a href="{% url 'vitals:detail' 'weight' object.patientprofile.weight.pk %}">{{ object.patientprofile.weight }}</a></li>
            {% endif %}
            {% if object.patientprofile.height %}
              <li class ="list-items-small"><a href="{% url 'vitals:list' 'height' %}">Height: </a><a href="{% url 'vitals:detail' 'height' object.patientprofile.height.pk %}">{{ object.patientprofile.height }}</a></li>
            {% endif %}
            {% if object.patientprofile.BMI_calculator %}
              <li class ="list-items-small">BMI: {{ object.patientprofile.BMI_calculator|stringformat:".1f" }}</li>
            {% endif %}
            {% if object.patientprofile.drinks_per_week %}
              <li class ="list-items-small">Drinks per Week: {{ object.patientprofile.drinks_per_week }}</li>
            {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
    </main>

    {% if object == request.user %}
        <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
        <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
        {% if request.user.patientprofile %}
        <a class="btn btn-primary" href="{% url 'profiles:update' request.user request.user.patientprofile.pk %}" role="button">Profile</a>
        {% endif %}
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              Medications
            </button>
            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1" id="dropdown">
              <li><a class="dropdown-item" href="{% url 'treatment:create' 'allopurinol' %}">Allopurinol</a></li>
              <li><a class="dropdown-item" href="{% url 'treatment:create' 'febuxostat' %}">Febuxostat</a></li>
              <li><a class="dropdown-item" href="{% url 'treatment:create' 'colchicine' %}">Colchicine</a></li>
              <li><a class="dropdown-item" href="{% url 'treatment:create' 'ibuprofen' %}">Ibuprofen</a></li>
              <li><a class="dropdown-item" href="{% url 'treatment:create' 'naproxen' %}">Naproxen</a></li>
              <li><a class="dropdown-item" href="{% url 'treatment:create' 'meloxicam' %}">Meloxicam</a></li>
              <li><a class="dropdown-item" href="{% url 'treatment:create' 'celecoxib' %}">Celecoxib</a></li>
              <li><a class="dropdown-item" href="{% url 'treatment:create' 'prednisone' %}">Prednisone</a></li>
              <li><a class="dropdown-item" href="{% url 'treatment:create' 'probenecid' %}">Probenecid</a></li>
              <li><a class="dropdown-item" href="{% url 'treatment:create' 'methylprednisolone' %}">Methylprednisolone</a></li>
              <li><a class="dropdown-item" href="{% url 'treatment:create' 'tinctureoftime' %}">Tincture of time</a></li>
              <li><a class="dropdown-item" href="{% url 'treatment:create' 'othertreat' %}">Other</a></li>
            </ul>
          </div>
        </div>
    {% endif %}
  </div>
{% endblock content %}
