{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<main class="container nested-container">
  <div class="media default-container">
    <div class="media-body">
      {% if object.patientprofile %}
        {% include "users/patientprofile.html" %}
      {% else %}
      <h1 class="">{{ object.username|capfirst}}'s Profile</h1>
      {% endif %}
      {% if object.medicalprofile %}
        {% include "users/medicalprofile.html" %}
      {% endif %}
      {% if object.socialprofile %}
        {% include "users/socialprofile.html" %}
      {% endif %}
      {% if object.familyprofile %}
        {% include "users/familyprofile.html" %}
      {% endif %}
    </div>
  </div>
</main>
<footer>
</footer>
{% endblock content %}
