{% extends "base.html" %}
{% load static %}
{% load vitals_extras %}

{% block content %}
<div class="container default-container">
  <div class="row">
    <div class="col">
      <main>
        {% block vital_title %}
        <h1 class="content-heading">
          {{ object|to_class_name }} ({{ object.date_recorded.date }})
        </h1>
        {% endblock vital_title %}
        <div class="container content-heading">
          {% if object.name == 'height' %}
            <li>{{ object.convert_inches_to_feet }}</li>
          {% else %}
          <li>{{ object.value }} {{ object.units }}</li>
          {% endif %}
          {% if object.date_recorded %}
          <li>Recorded: {{ object.date_recorded }}</li>
          {% endif %}
          <li>Logged: {{ object.created }}</li>
          <li>Last modified: {{ object.modified }}</li>
        </div>
      </main>
      <br>
      <footer>
      {% block buttons %}
        <a class="btn btn-primary btn-lg" href="{% url 'vitals:update' object|to_class_name object.pk%}" role="button">Update</a>
        <a class="btn btn-primary btn-lg" href="{% url 'vitals:list' object|to_class_name %}" role="button">List: {{ object|to_class_name }}</a>
        <a class="btn btn-primary btn-lg" href="{% url 'users:detail' request.user %}" role="button">Profile</a>
        <a class="btn btn-primary btn-lg" href="{% url 'home' %}" role="button">Home</a>
      {% endblock buttons %}
      </footer>
    </div>
  </div>
</div>
{% endblock content %}
