{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load vitals_extras %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
  {% if form.instance.pk %}
    <form class="form-horizontal gdc-default" method="post" action="{% url 'vitals:update' vital object.pk %}">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary">
            Update
          </button>
        </div>
      </div>
    </form>
  {% else %}
    <form class="form-horizontal gdc-default" method="post" action="{% url 'vitals:create' vital %}">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary">
            Create
          </button>
        </div>
      </div>
    </form>
  {% endif %}
{% endblock %}
