{% extends "base.html" %} {% load static %} {% block content %}
<div class="jumbotron jumbotron-about">
  <h1>About Gouthelper</h1>
  <div class="container">
    <h1>About Gouthelper</h1>
  </div>
</div>
{% endblock content%}
{% block inline_javascript %}
<script>
  jQuery(function ($) {
    var path = window.location.href;
    $('li a').each(function () {
      if (this.href === path) {
        $(this).addClass('active');
      } else {
        $(this).removeClass('active');
      }
    });
  });
</script>
{% endblock inline_javascript %}
