{% extends "base.html" %}
{% load static i18n %}
  {% block header %}
    <header class="page-header header container-fluid" id="homepage-header">
      <div class="overlay"></div>
      <div class="description">
        <h1>Welcome to Gouthelper!</h1>
        <p>A site for all things gout.</p>
        <button class="btn btn-outline-secondary btn-lg">Tell Me More!</button>
      </div>
    </header>
  {% endblock header %}

  {% block content %}
    <main class="container-fluid" id="homepage-main">
      <div class="container features">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12">
            <h3 class="feature-title">Flares</h3>
            <img src="{% static '/images/goutart_forweb.jpg' %}" class="img-fluid">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum quam odio, quis placerat ante
              luctus eu. Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.</p>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-12">
            <h3 class="feature-title">ULT</h3>
            <img src="{% static '/images/flare_forweb.jpg' %}"" class=img-fluid>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum quam odio, quis placerat ante
              luctus eu. Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.</p>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-12">
           <h3 class="feature-title">Lorem ipsum</h3>
           <img src="{% static '/images/flare_forweb.jpg' %}"" class=img-fluid>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum quam odio, quis placerat ante
              luctus eu. Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.</p>
          </div>
        </div>
      </div>

      {% include 'pages/home_cards.html' %}

    </main>
  {% endblock content %}
  {% block modal %}
  {% endblock modal %}
  {% block inline_javascript %}
    <script>
      $(document).ready(function () {
        $('.header').height($(window).height());
      })
    </script>
  {% endblock inline_javascript %}




