{% extends "base_form.html" %}
{% load crispy_forms_tags %}
{% block title %}
{% if form.instance.pk %} Update PPxAid {% else %} New PPxAid {% endif %} {% endblock%}
{% block header %}
{% if form.instance.pk %}
<h1>Update PPx Aid</h1>
{% elif view.kwargs.ultaid %}
<h1>PPxAid </h1>
{% else %}
<h1>New PPxAid</h1>
{% endif %}
{% endblock header %}
{% block form %}
{% if form.instance.pk %}
{% if view.kwargs.ultaid %}
<form method="post" action="{% url 'ppxaid:ultaid-update' pk=object.pk ultaid=view.kwargs.ultaid %}">
  {% csrf_token %} {% crispy form %}
</form>
{% else %}
<form method="post" action="{% url 'ppxaid:update' object.pk %}" enctype="multipart/form-data">
  {% csrf_token %} {% crispy form %}
</form>
{% endif %}
{% else %}
{% if request.user.is_authenticated %}
  {% if view.kwargs.ultaid %}
  <form method="post" action="{% url 'ppxaid:user-ultaid-create' username=view.kwargs.username ultaid=view.kwargs.ultaid %}">
    {% csrf_token %} {% crispy form %}
  </form>
  {% else %}
  <form method="post" action="{% url 'ppxaid:create' %}">
    {% csrf_token %} {% crispy form %}
  </form>
  {% endif %}
{% endif %}
{% endif %}
{% endblock form %}
{% block inline_javascript %}
<script>
  $(document).ready(function () {
  // sets up PPxAid Create page by hiding all fields other than whether or not one is in perfect health
  ppx_aid_initial();
  });
  $(document).ready(function () {
  // checks if perfect_health is true and, if so, hides other fields, else displays long list of other fields to fill out
  $("#id_perfect_health").change(ppx_aid_fields);
  ppx_aid_fields.call($("#id_perfect_health").get(0));
  });
  $(document).ready(function () {
   // checks if ckd is true and, if so, displays ckd subfields
  $("#id_CKD-value").change(ppx_aid_dialysis);
  ppx_aid_dialysis.call($("#id_CKD-value").get(0));
  });
  jQuery(function ($) {
    var path = window.location.href;
    $('li a').each(function () {
      if (this.href === path) {
        $(this).addClass('active');
      } else {
        $(this).removeClass('active');
      }
    });
  });
</script>
{% endblock inline_javascript %}
