{% extends "base.html" %}
{% load static %}

{% block content %}
<main>
    <div class="jumbotron-fluid default-container">
        <div class="row">
          <div class="col">
            <h1 class="nested-container">Gout Treatment
            {% if request.user.is_authenticated %}
            <a class="btn btn-primary" href="{% url 'treatment:dashboard' %}" role="button" style="float: right;">Your Treatments</a>
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown" style="float: right;">
              <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  Log a treatment
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1" id="dropdown">
                  <li><a class="dropdown-item" href="{% url 'treatment:create' 'allopurinol' %}">Allopurinol</a></li>
                  <li><a class="dropdown-item" href="{% url 'treatment:create' 'febuxostat' %}">Febuxostat</a></li>
                  <li><a class="dropdown-item" href="{% url 'treatment:create' 'colchicine' %}">Colchicine</a></li>
                  <li><a class="dropdown-item" href="{% url 'treatment:create' 'ibuprofen' %}">Ibuprofen</a></li>
                  <li><a class="dropdown-item" href="{% url 'treatment:create' 'naproxen' %}">Naproxen</a></li>
                  <li><a class="dropdown-item" href="{% url 'treatment:create' 'meloxicam' %}">Meloxicam</a></li>
                  <li><a class="dropdown-item" href="{% url 'treatment:create' 'prednisone' %}">Prednisone</a></li>
                </ul>
              </div>
            </div>
            {% else %}
                <a id="log-in-link" class="btn btn-primary btn-lg" href="{% url 'account_login' %}" role="button" style="float: right;">Log In</a>
            {% endif %}
          </h1>
          <p class="lead">Lab testing is important in gout, particularly when making the initial diagnosis and when doing long-term management of gout (<a href="{% url 'treatment:ult' %}">ULT</a>).</p>
          <hr class="my-4">
          <p>Labs are important in several gouty situations:</p>
            <ul>
                <li>Diagnosis of gout, particularly the initial diagnosis</li>
                <li>Medical management of gout</li>
                  <ul>
                      <li>Determining which medictions are best for your gout</li>
                      <li>Monitoring for side effects of gout medications</li>
                  </ul>
            </ul>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm">
          <div class="container default-container">
            <h3 class="nested-container">Flare Treatment <a class="btn btn-primary" href="{% url 'treatment:about-flare' %}" role="button">About</a></h3>
            <p>Gout flares are the main driver of treatment. This is obvious due to how painful and disabling <a class="link-primary" href="{% url 'flare:about' %}">flares</a> are.</p>
            <p>There are generally 3 options for treatment of gout flares.
            <ol>
              <li>
              NSAIDs: <a class="link-primary" href="{% url 'treatment:about' 'ibuprofen' %}">ibuprofen</a>, <a class="link-primary" href="{% url 'treatment:about' 'naproxen' %}">naproxen</a>, <a class="link-primary" href="{% url 'treatment:about' 'meloxicam' %}">meloxicam</a>, and <a class="link-primary" href="{% url 'treatment:about' 'celecoxib' %}">Celebrex</a>, among others.
              </li>
              <li>
              <a class="link-primary" href="{% url 'treatment:about' 'colchicine' %}">Colchicine</a>
              </li>
              <li>
                Steroids: <a class="link-primary" href="{% url 'treatment:about' 'prednisone' %}">prednisone</a>, <a class="link-primary" href="{% url 'treatment:about' 'methylprednisolone' %}">methylprednisolone</a>.
              </li>
            </ol>
          </div>
        </div>
        <div class="col-sm">
          <div class="container default-container">
            <h3 class="nested-container">Gout Prevention <a class="btn btn-primary" href="{% url 'treatment:about-ult' %}" role="button">About</a></h3></h3>
            <p>Long term management of gout is extremely effective. It can essentially eliminate gout flares. However it does involve continued use of medications</p>
            <p>Luckily, the medications are extremely safe and well tolerated.</p>
            <ol>
              <li>
              <a class="link-primary" href="{% url 'treatment:about' 'allopurinol' %}">Allopurinol</a> is historically the most effective and commonly used therapy for chronic suppression of gout.
                <ul>
                  <li>It is very safe both short- and long-term. </li>
                  <li>It has been on the market for over 50 years and has long been a cornerstone of gout management.</li>
                </ul>
              </li>
              <li>
              <a class="link-primary" href="{% url 'treatment:about' 'febuxostat' %}">Febuxostat</a> is a newer cousin of allopurinol.
                <ul>
                  <li>It has the same pharmacology of allopurinol and is thus very safe both short- and long-term. </li>
                  <li>It hasn't been around as long and there have been some concerns about the <a class="link-primary" href="https://www.nejm.org/doi/full/10.1056/NEJMoa1710895" target="_blank">cardiovascular safety</a> of its use. This topic is <a class="link-primary" href="https://www.thelancet.com/article/S0140-6736(20)32234-0/fulltext" target="_blank">hotly debated</a>.</li>
                </ul>
              </li>
              <li>
              <a class="link-primary" href="{% url 'treatment:about' 'probenecid' %}">Probenecid</a> is an older medication for gout.
                <ul>
                  <li>It isn't used that much anymore because its generally not as effective or convenient as allopurinol or febuxotat.</li>
                  <li>Probenecid increases the amount of uric acid that is in urine, causing more excretion of uric acid via this route, but also probably predisposing individuals to <a class="link-primary" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4100778/" target="_blank">uric acid kidney stones</a>.</li>
                </ul>
              </li>
            </ol>
          </div>
        </div>
        </div>
    </div>
</main>
{% endblock content %}
