{% extends "treatment/treatment_about_base.html" %}
{% load static %}

{% block intro %}
<p>Colchicine is the gout workhorse.</p>
{% endblock intro %}

{% block quicklinks %}
<h2>Quick Links</h2>
<ol>
    <li><a href="#biology">Biology</a></li>
    <li><a href="#chemistry">Chemistry</a></li>
    <li><a href="#history">History</a></li>
    <li><a href="#ingout">In Gout</a></li>
    <li><a href="#references">References</a></li>
</ol>
{% endblock quicklinks %}

{% block biology %}
<h2 class="nested-container"><a id="biology">Biology</a></h2>
<hr size="6" color="navy">
{% endblock biology %}
{% block chemistry %}
<h2 class="nested-container"><a id="chemistry">Chemistry</a></h2>
<hr size="6" color="navy">
{% endblock chemistry %}
{% block history %}
<h2 class="nested-container"><a id="history">History</a></h2>
<hr size="6" color="navy">
{% endblock history %}
{% block ingout %}
<h2 class="nested-container"><a id="ingout">In Gout</a></h2>
<hr size="6" color="navy">
{% endblock ingout %}
{% block references %}
<h2 class="nested-container"><a id="references">References</a></h2>
<hr size="6" color="navy">
{% endblock references %}
