{% extends "base.html" %}
{% load static %}

{% block title %}Treatment Dashboard{% endblock %}

{% block content %}
<main class="container">
  <div class="row">
    <div class="col">
      <div class="container default-container">
      <h1 class="content-heading" id="treatment">{{ request.user.username|capfirst }}'s Treatment
      <a class="btn btn-primary btn-lg" href="#ult" role="button" style="float: right;">ULT</a>
      <a class="btn btn-primary btn-lg" href="#flare" role="button" style="float: right;">Flare</a>
      <a class="btn btn-primary btn-lg" href="#prophylaxis" role="button" style="float: right;">Prophylaxis</a>
      <a class="btn btn-primary btn-lg" href="{% url 'treatment:about' 'about' %}" role="button" style="float: right;">About</a>
      </h1>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <div class="container default-container">
        <a href="{% url 'treatment:ult' %}">
          <h1 class="content-heading" id="ult">
            ULT
        </a>
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown" style="float: right;">
          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              New
            </button>
            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1" id="dropdown">
              <li><a class="dropdown-item" href="{% url 'treatment:create' 'allopurinol' %}">Allopurinol</a></li>
              <li><a class="dropdown-item" href="{% url 'treatment:create' 'febuxostat' %}">Febuxostat</a></li>
              <li><a class="dropdown-item" href="{% url 'treatment:create' 'probenecid' %}">Probenecid</a></li>
            </ul>
          </div>
        </div>
        </h1>
        <u><a href="#treatment">Back to Top</a></u>
        {% if allopurinol_list %}
          {% for allopurinol in allopurinol_list %}
          <div class="container content-heading">
            <h2 class="default-container"><a href="{% url 'treatment:detail' 'allopurinol' allopurinol.pk %}">{{ allopurinol.generic_name|capfirst }}</a>
            {% for brand_name in allopurinol.brand_names %}
              ({{ brand_name|capfirst  }})
            {% endfor %}
            </h2>
            <ul class="ul-main-list">
              <li>{{ allopurinol.dose }} mg {{ allopurinol.freq }}</li>
              <li>Date started: {{ allopurinol.date_started }}</li>
              {% if allopurinol.date_ended %}
              <li>Date ended: {{ allopurinol.date_ended }}</li>
              {% endif %}
              <li>Class: {{ allopurinol.drug_class }}</li>
              {% if allopurinol.side_effects %}
              <li>Side effects: {{ allopurinol.side_effects }}
              {% endif %}
              {% if allopurinol.de_sensitized %}
              <li>Side effects: {{ allopurinol.de_sensitized }}
              {% endif %}
            </ul>
          </div>
          {% endfor %}
        {% endif %}
        {% if febuxostat_list %}
          {% for febuxostat in febuxostat_list %}
          <div class="container content-heading">
            <h2 class="default-container"><a href="{% url 'treatment:detail' 'febuxostat' febuxostat.pk %}">{{ febuxostat.generic_name|capfirst }}</a>
            {% for brand_name in febuxostat.brand_names %}
              ({{ brand_name|capfirst  }})
            {% endfor %}
            </h2>
            <ul class="ul-main-list">
              {% if febuxostat_dose %}
              <li>{{ febuxostat.dose }} mg {{ febuxostat.freq }}</li>
              {% endif %}
              {% if febuxostat_date_started%}
              <li>Date started: {{ febuxostat.date_started }}</li>
              {% endif %}
              {% if febuxostat.date_ended %}
              <li>Date ended: {{ febuxostat.date_ended }}</li>
              {% endif %}
              <li>Class: {{ febuxostat.drug_class }}</li>
              {% if febuxostat.side_effects %}
              <li>Side effects: {{ febuxostat.side_effects }}
              {% endif %}
              {% if febuxostat.de_sensitized %}
              <li>Side effects: {{ febuxostat.de_sensitized }}
              {% endif %}
            </ul>
          </div>
          {% endfor %}
        {% endif %}
        {% if probenecid_list %}
          {% for probenecid in probenecid_list %}
          <div class="container content-heading">
            <h2 class="default-container"><a href="{% url 'treatment:detail' 'probenecid' probenecid.pk %}">{{ probenecid.generic_name|capfirst }}</a>
            {% for brand_name in probenecid.brand_names %}
              ({{ brand_name|capfirst  }})
            {% endfor %}
            </h2>
            <ul class="ul-main-list">
              {% if probenecid.dose %}
              <li>{{ probenecid.dose }} mg {{ probenecid.freq }}</li>
              {% endif %}
              {% if probenecid.date_started%}
              <li>Date started: {{ probenecid.date_started }}</li>
              {% endif %}
              {% if probenecid.date_ended %}
              <li>Date ended: {{ probenecid.date_ended }}</li>
              {% endif %}
              <li>Class: {{ probenecid.drug_class }}</li>
              {% if probenecid.side_effects %}
              <li>Side effects: {{ probenecid.side_effects }}
              {% endif %}
              {% if probenecid.de_sensitized %}
              <li>Side effects: {{ probenecid.de_sensitized }}
              {% endif %}
            </ul>
          </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
  <br>
    <div class="row">
      <div class="col">
        <div class="container default-container">
          <h1 class="content-heading" id="flare">
          <a href="{% url 'treatment:flare' %}">Flare</a>
          <div class="btn-group" role="group" aria-label="Button group with nested dropdown" style="float: right;">
            <div class="btn-group" role="group">
              <button id="btnGroupDrop1" type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                New
              </button>
              <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1" id="dropdown">
                <li><a class="dropdown-item" href="{% url 'treatment:create' 'colchicine' %}">Colchicine</a></li>
                <li><a class="dropdown-item" href="{% url 'treatment:create' 'ibuprofen' %}">Ibuprofen</a></li>
                <li><a class="dropdown-item" href="{% url 'treatment:create' 'naproxen' %}">Naproxen</a></li>
                <li><a class="dropdown-item" href="{% url 'treatment:create' 'meloxicam' %}">Meloxicam</a></li>
                <li><a class="dropdown-item" href="{% url 'treatment:create' 'celecoxib' %}">Celecoxib</a></li>
                <li><a class="dropdown-item" href="{% url 'treatment:create' 'prednisone' %}">Prednisone</a></li>
                <li><a class="dropdown-item" href="{% url 'treatment:create' 'prednisone' %}">Methylprednisolone</a></li>
              </ul>
            </div>
          </div>
          </h1>
          <u><a href="#treatment">Back to Top</a></u>
          {% if colchicine_list %}
            {% for colchicine in colchicine_list %}
            <div class="container content-heading">
              <h2 class="default-container"><a href="{% url 'treatment:detail' 'colchicine' colchicine.pk %}">{{ colchicine.generic_name|capfirst }}</a>
              {% for brand_name in colchicine.brand_names %}
                ({{ brand_name|capfirst }})</h2>
              {% endfor %}
              <ul class="ul-main-list">
                {% if colchicine.dose %}
                <li>{{ colchicine.dose }} mg {{ colchicine.freq }}</li>
                {% endif %}
                {% if colchicine.date_started %}
                <li>Date started: {{ colchicine.date_started }}</li>
                {% endif %}
                {% if colchicine.date_ended %}
                <li>Date ended: {{ colchicine.date_ended }}</li>
                {% endif %}
                <li>Class: {{ colchicine.drug_class }}</li>
                {% if colchicine.side_effects %}
                <li>Side effects: {{ colchicine.side_effects }}</li>
                {% endif %}
              </ul>
            </div>
            <br>
            {% endfor %}
          {% endif %}
          {% if celecoxib_list %}
            {% for celecoxib in celecoxib_list %}
            <div class="container content-heading">
              <h2 class="default-container"><a href="{% url 'treatment:detail' 'celecoxib' celecoxib.pk %}">{{ celecoxib.generic_name|capfirst }}</a>
              {% for brand_name in celecoxib.brand_names %}
                ({{ brand_name|capfirst  }})</h2>
              {% endfor %}
              <ul class="ul-main-list">
                {% if celecoxib.dose %}
                <li>{{ celecoxib.dose }} mg {{ celecoxib.freq }}</li>
                {% endif %}
                {% if celecoxib.date_started %}
                <li>Date started: {{ celecoxib.date_started }}</li>
                {% endif %}
                {% if celecoxib.date_ended %}
                <li>Date ended: {{ celecoxib.date_ended }}</li>
                {% endif %}
                <li>Class: {{ celecoxib.drug_class }}</li>
                {% if celecoxib.side_effects %}
                <li>Side effects: {{ celecoxib.side_effects }}</li>
                {% endif %}
              </ul>
            </div>
            <br>
            {% endfor %}
          {% endif %}
          {% if ibuprofen_list %}
            {% for ibuprofen in ibuprofen_list %}
            <div class="container content-heading">
              <h2 class="default-container"><a href="{% url 'treatment:detail' 'ibuprofen' ibuprofen.pk %}">{{ ibuprofen.generic_name|capfirst }}</a>
              {% for brand_name in ibuprofen.brand_names %}
                ({{ brand_name|capfirst  }})</h2>
              {% endfor %}
              <ul class="ul-main-list">
                {% if ibuprofen.dose %}
                <li>{{ ibuprofen.dose }} mg {{ ibuprofen.freq }}</li>
                {% endif %}
                {% if ibuprofen.date_started %}
                <li>Date started: {{ ibuprofen.date_started }}</li>
                {% endif %}
                {% if ibuprofen.date_ended %}
                <li>Date ended: {{ ibuprofen.date_ended }}</li>
                {% endif %}
                <li>Class: {{ ibuprofen.drug_class }}</li>
                {% if ibuprofen.side_effects %}
                <li>Side effects: {{ ibuprofen.side_effects }}</li>
                {% endif %}
              </ul>
            </div>
            <br>
            {% endfor %}
          {% endif %}
          {% if naproxen_list %}
            {% for naproxen in naproxen_list %}
            <div class="container content-heading">
              <h2 class="default-container"><a href="{% url 'treatment:detail' 'naproxen' naproxen.pk %}">{{ naproxen.generic_name|capfirst }}</a>
              {% for brand_name in naproxen.brand_names %}
                ({{ brand_name|capfirst  }})</h2>
              {% endfor %}
              <ul class="ul-main-list">
                {% if naproxen.dose %}
                <li>{{ naproxen.dose }} mg {{ naproxen.freq }}</li>
                {% endif %}
                {% if naproxen.date_started %}
                <li>Date started: {{ naproxen.date_started }}</li>
                {% endif %}
                {% if naproxen.date_ended %}
                <li>Date ended: {{ naproxen.date_ended }}</li>
                {% endif %}
                <li>Class: {{ naproxen.drug_class }}</li>
                {% if naproxen.side_effects %}
                <li>Side effects: {{ naproxen.side_effects }}</li>
                {% endif %}
              </ul>
            </div>
            <br>
            {% endfor %}
          {% endif %}
          {% if meloxicam_list %}
            {% for meloxicam in meloxicam_list %}
            <div class="container content-heading">
              <h2 class="default-container"><a href="{% url 'treatment:detail' 'meloxicam' meloxicam.pk %}">{{ meloxicam.generic_name|capfirst }}</a>
              {% for brand_name in meloxicam.brand_names %}
                ({{ brand_name|capfirst  }})</h2>
              {% endfor %}
              <ul class="ul-main-list">
                <li>{{ meloxicam.dose }} mg {{ meloxicam.freq }}</li>
                <li>Date started: {{ meloxicam.date_started }}</li>
                {% if meloxicam.date_ended %}
                <li>Date ended: {{ meloxicam.date_ended }}</li>
                {% endif %}
                <li>Class: {{ meloxicam.drug_class }}</li>
                {% if meloxicam.side_effects %}
                <li>Side effects: {{ meloxicam.side_effects }}</li>
                {% endif %}
              </ul>
            </div>
            <br>
            {% endfor %}
          {% endif %}
          {% if prednisone_list %}
            {% for prednisone in prednisone_list %}
            <div class="container content-heading">
              <h2 class="default-container"><a href="{% url 'treatment:detail' 'prednisone' prednisone.pk %}">{{ prednisone.generic_name|capfirst }}</a>
              {% for brand_name in prednisone.brand_names %}
                ({{ brand_name|capfirst  }})</h2>
              {% endfor %}
              <ul class="ul-main-list">
                {% if prednisone.dose %}
                <li>{{ prednisone.dose }} mg {{ prednisone.freq }}</li>
                {% endif %}
                {% if prednisone.date_started %}
                <li>Date started: {{ prednisone.date_started }}</li>
                {% endif %}
                {% if prednisone.date_ended %}
                <li>Date ended: {{ prednisone.date_ended }}</li>
                {% endif %}
                <li>Class: {{ prednisone.drug_class }}</li>
                {% if prednisone.side_effects %}
                <li>Side effects: {{ prednisone.side_effects }}</li>
                {% endif %}
              </ul>
            </div>
            {% endfor %}
          {% endif %}
          {% if methylprednisolone_list %}
            {% for methylprednisolone in methylprednisolone_list %}
            <div class="container content-heading">
              <h2 class="default-container"><a href="{% url 'treatment:detail' 'methylprednisolone' methylprednisolone.pk %}">{{ methylprednisolone.generic_name|capfirst }}</a>
              {% for brand_name in methylprednisolone.brand_names %}
                ({{ brand_name|capfirst  }})</h2>
              {% endfor %}
              <ul class="ul-main-list">
                {% if methylprednisolone.dose %}
                <li>{{ methylprednisolone.dose }} mg {{ methylprednisolone.freq }}</li>
                {% endif %}
                {% if methylprednisolone.date_started %}
                <li>Date started: {{ methylprednisolone.date_started }}</li>
                {% endif %}
                {% if methylprednisolone.date_ended %}
                <li>Date ended: {{ methylprednisolone.date_ended }}</li>
                {% endif %}
                <li>Class: {{ methylprednisolone.drug_class }}</li>
                {% if methylprednisolone.side_effects %}
                <li>Side effects: {{ methylprednisolone.side_effects }}</li>
                {% endif %}
              </ul>
            </div>
            <br>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <div class="container default-container">
          <h1 id="prophylaxis" class="content-heading">
          <a href="{% url 'treatment:prophylaxis' %}">Prophylaxis</a>
          <div class="btn-group" role="group" aria-label="Button group with nested dropdown" style="float: right;">
            <div class="btn-group" role="group">
              <button id="btnGroupDrop1" type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                New
              </button>
              <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1" id="dropdown">
                <li><a class="dropdown-item" href="{% url 'treatment:prophylaxis-create' 'colchicine' %}">Colchicine</a></li>
                <li><a class="dropdown-item" href="{% url 'treatment:prophylaxis-create' 'ibuprofen' %}">Ibuprofen</a></li>
                <li><a class="dropdown-item" href="{% url 'treatment:prophylaxis-create' 'naproxen' %}">Naproxen</a></li>
                <li><a class="dropdown-item" href="{% url 'treatment:prophylaxis-create' 'meloxicam' %}">Meloxicam</a></li>
                <li><a class="dropdown-item" href="{% url 'treatment:prophylaxis-create' 'celecoxib' %}">Celecoxib</a></li>
                <li><a class="dropdown-item" href="{% url 'treatment:prophylaxis-create' 'prednisone' %}">Prednisone</a></li>
                <li><a class="dropdown-item" href="{% url 'treatment:prophylaxis-create' 'prednisone' %}">Methylprednisolone</a></li>
              </ul>
            </div>
          </div>
          </h1>
          <u><a href="#treatment">Back to Top</a></u>
            {% if colchicine_ppx_list %}
              {% for colchicine in colchicine_ppx_list %}
              <div class="container content-heading">
                <h2 class="default-container"><a href="{% url 'treatment:detail' 'colchicine' colchicine.pk %}">{{ colchicine.generic_name|capfirst }}</a>
                {% for brand_name in colchicine.brand_names %}
                  ({{ brand_name|capfirst  }})
                {% endfor %}
                </h2>
                <ul class="ul-main-list">
                  <li>{{ colchicine.dose }} mg {{ colchicine.freq }}</li>
                  <li>Date started: {{ colchicine.date_started }}</li>
                  {% if colchicine.date_ended %}
                  <li>Date ended: {{ colchicine.date_ended }}</li>
                  {% endif %}
                  <li>Class: {{ colchicine.drug_class }}</li>
                  {% if colchicine.side_effects %}
                  <li>Side effects: {{ colchicine.side_effects }}</li>
                  {% endif %}
                </ul>
              </div>
              <br>
              {% endfor %}
            {% endif %}
            {% if ibuprofen_ppx_list %}
              {% for ibuprofen in ibuprofen_ppx_list %}
              <div class="container content-heading">
                <h2 class="default-container"><a href="{% url 'treatment:detail' 'ibuprofen' ibuprofen.pk %}">{{ ibuprofen.generic_name|capfirst }}</a>
                {% for brand_name in ibuprofen.brand_names %}
                  ({{ brand_name|capfirst  }})
                {% endfor %}
                </h2>
                <ul class="ul-main-list">
                  <li>{{ ibuprofen.dose }} mg {{ ibuprofen.freq }}</li>
                  <li>Date started: {{ ibuprofen.date_started }}</li>
                  {% if ibuprofen.date_ended %}
                  <li>Date ended: {{ ibuprofen.date_ended }}</li>
                  {% endif %}
                  <li>Class: {{ ibuprofen.drug_class }}</li>
                  {% if ibuprofen.side_effects %}
                  <li>Side effects: {{ ibuprofen.side_effects }}</li>
                  {% endif %}
                </ul>
              </div>
              <br>
              {% endfor %}
            {% endif %}
            {% if celecoxib_ppx_list %}
              {% for celecoxib in celecoxib_ppx_list %}
              <div class="container content-heading">
                <h2 class="default-container"><a href="{% url 'treatment:detail' 'celecoxib' celecoxib.pk %}">{{ celecoxib.generic_name|capfirst }}</a>
                {% for brand_name in celecoxib.brand_names %}
                  ({{ brand_name|capfirst  }})
                {% endfor %}
                </h2>
                <ul class="ul-main-list">
                  <li>{{ celecoxib.dose }} mg {{ celecoxib.freq }}</li>
                  <li>Date started: {{ celecoxib.date_started }}</li>
                  {% if celecoxib.date_ended %}
                  <li>Date ended: {{ celecoxib.date_ended }}</li>
                  {% endif %}
                  <li>Class: {{ celecoxib.drug_class }}</li>
                  {% if celecoxib.side_effects %}
                  <li>Side effects: {{ celecoxib.side_effects }}</li>
                  {% endif %}
                </ul>
              </div>
              <br>
              {% endfor %}
            {% endif %}
            {% if meloxicam_ppx_list %}
              {% for meloxicam in meloxicam_ppx_list %}
              <div class="container content-heading">
                <h2 class="default-container"><a href="{% url 'treatment:detail' 'meloxicam' meloxicam.pk %}">{{ meloxicam.generic_name|capfirst }}</a>
                {% for brand_name in meloxicam.brand_names %}
                  ({{ brand_name|capfirst  }})
                {% endfor %}
                </h2>
                <ul class="ul-main-list">
                  <li>{{ meloxicam.dose }} mg {{ meloxicam.freq }}</li>
                  <li>Date started: {{ meloxicam.date_started }}</li>
                  {% if meloxicam.date_ended %}
                  <li>Date ended: {{ meloxicam.date_ended }}</li>
                  {% endif %}
                  <li>Class: {{ meloxicam.drug_class }}</li>
                  {% if meloxicam.side_effects %}
                  <li>Side effects: {{ meloxicam.side_effects }}</li>
                  {% endif %}
                </ul>
              </div>
              <br>
              {% endfor %}
            {% endif %}
            {% if naproxen_ppx_list %}
              {% for naproxen in naproxen_ppx_list %}
              <div class="container content-heading">
                <h2 class="deafult-container"><a href="{% url 'treatment:detail' 'naproxen' naproxen.pk %}">{{ naproxen.generic_name|capfirst }}</a>
                {% for brand_name in naproxen.brand_names %}
                  ({{ brand_name|capfirst  }})
                {% endfor %}
                </h2>
                <ul class="ul-main-list">
                  <li>{{ naproxen.dose }} mg {{ naproxen.freq }}</li>
                  <li>Date started: {{ naproxen.date_started }}</li>
                  {% if naproxen.date_ended %}
                  <li>Date ended: {{ naproxen.date_ended }}</li>
                  {% endif %}
                  <li>Class: {{ naproxen.drug_class }}</li>
                  {% if naproxen.side_effects %}
                  <li>Side effects: {{ naproxen.side_effects }}</li>
                  {% endif %}
                </ul>
              </div>
              <br>
              {% endfor %}
            {% endif %}
            {% if prednisone_ppx_list %}
              {% for prednisone in prednisone_ppx_list %}
              <div class="container content-heading">
                <h2 class="default-container"><a href="{% url 'treatment:detail' 'prednisone' prednisone.pk %}">{{ prednisone.generic_name|capfirst }}</a>
                {% for brand_name in prednisone.brand_names %}
                  ({{ brand_name|capfirst  }})
                {% endfor %}
                </h2>
                <ul class="ul-main-list">
                  <li>{{ prednisone.dose }} mg {{ prednisone.freq }}</li>
                  <li>Date started: {{ prednisone.date_started }}</li>
                  {% if prednisone.date_ended %}
                  <li>Date ended: {{ prednisone.date_ended }}</li>
                  {% endif %}
                  <li>Class: {{ prednisone.drug_class }}</li>
                  {% if prednisone.side_effects %}
                  <li>Side effects: {{ prednisone.side_effects }}</li>
                  {% endif %}
                </ul>
              </div>
              <br>
              {% endfor %}
            {% endif %}
        </div>
      </div>
    </div>
    <u><a href="#treatment">Back to Top</a></u>
</main>
{% endblock content %}

