{% extends "base.html" %}
{% load static %}

{% block content %}
<main role="main" class="container-fluid">
  <div class="jumbotron treatment-index">
    <h1 class="display-4">Gout Treatment</h1>
    <h3 class="lead">Managing gout is broken down into two parts:</h3>
    <p><br>1. Managing the symptoms of your gout flares.</p>
    <p><br>2. Long-term treatment to prevent and even eliminate gout flares.</p>
    <hr class="my-4">
    <p>Not everyone needs long-term treatment of their gout, but most who do take daily medication to prevent gout no longer have to worry about flares.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="{% url 'treatment:flare' %}" role="button">Flare Treatment</a>
      <a class="btn btn-primary btn-lg" href="{% url 'treatment:prevention' %}" role="button">Preventative Therapy</a>
    </p>
  </div>

  {% if user.is_authenticated %}
  <h3>Your Medications</h3>
    {% if allopurinol_list %}
      {% for allopurinol in allopurinol_list %}
      <h5><a href="{% url 'treatment:allopurinol-update' allopurinol.pk %}">{{ allopurinol.generic_name }}</a></h5>
        <ul>
          <li>{{ allopurinol.dose }} mg</li>
          <li>{{ allopurinol.user }}</li>
        </ul>
      {% endfor %}
    {% endif %}
    {% if febuxostat_list %}
    {% for febuxostat in febuxostat_list %}
    <h5><a href="{% url 'treatment:febuxostat-update' febuxostat.pk %}">{{ febuxostat.generic_name }}</a></h5>
      <ul>
        <li>{{ febuxostat.dose }} mg</li>  
        <li>{{ febuxostat.user }}</li>  
      </ul>
      {% endfor %}
    {% endif %}
  {% endif %}
  <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
    <div class="btn-group" role="group">
      <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Medications
      </button>
      <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1" id="dropdown">
        {% if allopurinol_list %}
          {% for allopurinol in allopurinol_list %}
            <li><a class="dropdown-item" href="{% url 'treatment:allopurinol-update' allopurinol.pk %}">Allopurinol</a></li>
          {% endfor %}
        {% else %}
        <li><a class="dropdown-item" href="{% url 'treatment:allopurinol-create' %}">Allopurinol</a></li>
        {% endif %}
        <li><a class="dropdown-item" href="{% url 'treatment:febuxostat-create' %}">Febuxostat</a></li>
        <li><a class="dropdown-item" href="{% url 'treatment:colchicine-create' %}">Colchicine</a></li>
        <li><a class="dropdown-item" href="{% url 'treatment:ibuprofen-create' %}">Ibuprofen</a></li>
        <li><a class="dropdown-item" href="{% url 'treatment:naproxen-create' %}">Naproxen</a></li>
        <li><a class="dropdown-item" href="{% url 'treatment:meloxicam-create' %}">Meloxicam</a></li>
        <li><a class="dropdown-item" href="{% url 'treatment:celecoxib-create' %}">Celecoxib</a></li>
        <li><a class="dropdown-item" href="{% url 'treatment:prednisone-create' %}">Prednisone</a></li>
        <li><a class="dropdown-item" href="{% url 'treatment:probenecid-create' %}">Probenecid</a></li>
        <li><a class="dropdown-item" href="{% url 'treatment:methylprednisolone-create' %}">Methylprednisolone</a></li>
      </ul>
    </div>
  </div>
<br>
</main>
{% endblock content %}
