{% extends "treatment/about_base.html" %}
{% load static %}

{% block intro %}
<p>Probenecid is the gout workhorse.</p>
{% endblock intro %}

{% block quicklinks %}
<h2>Quick Links</h2>
<ol>
    <li><a href="#biology">Biology</a></li>
    <li><a href="#chemistry">Chemistry</a></li>
    <li><a href="#history">History</a></li>
    <li><a href="#ingout">In Gout</a></li>
    <li><a href="#references">References</a></li>
</ol>
{% endblock quicklinks %}

{% block biology %}

{% endblock biology %}

{% block chemistry %}

{% endblock chemistry %}

{% block history %}

{% endblock history %}

{% block ingout %}

{% endblock ingout %}

{% block references %}

{% endblock references %}
