{% extends "base_form.html" %}
{% load crispy_forms_tags %}
{% load lab_extras %}
{{ form.media }}

{% block title %}New {{ treatment }}{% endblock %}

{% block header %}
<h1 class="content-heading">New {{ treatment }}</h1>
{% endblock header %}

{% block form %}
  {% if form.instance.pk %}
    <form class="form-horizontal gdc-default" method="post" action="{% url 'treatment:update' treatment object.slug %}">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary">
            Update
          </button>
        </div>
      </div>
    </form>
  {% else %}
    <form class="form-horizontal gdc-default" method="post" action="{% url 'treatment:create' username=user.username treatment=treatment %}">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary">
            Create
          </button>
        </div>
      </div>
    </form>
  {% endif %}
{% endblock form %}
