{% extends "base.html" %}
{% load static %}
{% load treatment_extras %}

{% block content %}
<div class="container default-container">
  {% if object_list %}
    <header>
      {% block treatment_title %}
        <h1 class="nested-container">{{ object_list|list_to_name }}s
          {% block buttons %}
          <a class="btn btn-primary btn-lg" href="{% url 'treatment:about' treatment %}" role="button" style="float: right;">About</a>
          <a class="btn btn-primary btn-lg" href="{% url 'treatment:create' treatment %}" role="button" style="float: right;">New</a>
          {% endblock buttons %}
        </h1>
      {% endblock treatment_title %}
    </header>
    <main>
      <div class="row">
        <div class="col">
          {% for treatment in object_list %}
            <div class="container nested-container">
              <ul>
                {% if treatment.dose %}
                <li>{{ treatment.dose }} {% if object_list|list_to_name == "Colchicine" or "Meloxicam" %} mg {% endif %}{{ treatment.freq }} {% if treatment.prn == True %} as needed (PRN) {% endif %}</li>
                {% endif %}
                {% if treatment.created %}
                <li>Date: <a href="{{ treatment.get_absolute_url }}" class="hyperlink">{{ treatment.created }}</a></li>
                {% endif %}
                {% if treatment.side_effects %}
                <li>Side effects: {{ treatment.side_effects }}</li>
                {% endif %}
              </ul>
            </div>
            <br>
          {% endfor %}
        </div>
      </div>
    </main>
  {% else %}
    <main>
        <p>No {{ object_list|list_to_name }}s logged!</p>
    </main>
  {% endif %}
</div>
<footer class="page-footer">
  {% if page_obj %}
    <div class="pagination" style="float: right;">
      <span class="step-links">
        {% if page_obj.has_previous %}
          <a href="?page=1" class="hyperlink">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}" class="hyperlink">previous</a>
        {% endif %}
        <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>
        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}" class="hyperlink">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}" class="hyperlink">last &raquo;</a>
        {% endif %}
      </span>
  {% endif %}
  </div>
</footer>
{% endblock content %}
