{% extends "base.html" %}
{% load static %}
{% load treatment_extras %}

{% block content %}
<main class="container default-container">
  <div class="row">
    <div class="col">
        {% block treatment_title %}
        <h1 class="nested-container">
          {{ object|to_class_name }}
          <a class="btn btn-primary btn-lg" href="{% url 'treatment:update' object|to_class_name object.pk %}" role="button" style="float: right;">Update</a>
        </h1>
        {% endblock treatment_title %}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="container nested-container">
        <ul>
          {% if object.dose %}
          <li>{{ object.dose }} {% if object|to_class_name == "Colchicine" or "Meloxicam" %} mg {% endif %}{{ object.freq }} {% if object.prn == True %} as needed (PRN) {% endif %}</li>
          {% endif %}
          {% if object.side_effects %}
          <li>Side effects: {{ object.side_effects }}</li>
          {% endif %}
          <li>Drug class: {{ object.drug_class }}</li>
          <li>Logged: {{ object.created }}</li>
          {% if object.modified %}
          <li>Last modified: {{ object.modified }}</li>
          {% endif %}
          {% if object.de_sensitized %}
          <li>Desensitized: {{ object.de_sensitized }}</li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</main>
{% block buttons %}
<a class="btn btn-primary" href="{% url 'treatment:about' object|to_class_name %}" role="button">About: {{ object|to_class_name }}</a>
{% if object.drug_class == "nonsteroidal anti-inflammatory drug" or "local steroid" or "systemic steroid" or "anti-inflammatory" %}
<a class="btn btn-primary" href="{% url 'treatment:list' object|to_class_name %}" role="button">List: {{ object|to_class_name }}</a>
{% endif %}
{% if object|to_class_name == 'Allopurinol' or "Febuxostat" or "Probenecid" %}
{{ object|to_class_name }}
{% else %}
<a class="btn btn-primary" href="{% url 'treatment:create' object|to_class_name %}" role="button">New: {{ object|to_class_name }}</a>
{% endif %}
<a class="btn btn-primary" href="{% url 'treatment:dashboard' %}" role="button">Treatment Home</a>
{% endblock buttons %}
{% endblock content %}
