{% extends "base.html" %}
{% load static %}
{% load treatment_extras %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="column">
            <div class="container default-container">
                <h1 class="nested-container"><a id="{{ treatment }}">{{ treatment|capfirst }}</a>
                <a class="btn btn-primary btn-lg" href="{% url 'treatment:about' 'all-treatments' %}" role="button" style="float: right;">About</a>
                {% if request.user.is_authenticated %}
                <a class="btn btn-primary btn-lg" href="{% url 'treatment:list' treatment %}" role="button" style="float: right;">List</a>
                <a class="btn btn-primary btn-lg" href="{% url 'treatment:create' treatment %}" role="button" style="float: right;">New</a>
                {% else %}
                <a id="log-in-link" class="btn btn-primary btn-lg" href="{% url 'account_login' %}" role="button" style="float: right;">Log In</a>
                {% endif %}
                </h1>
                {% block intro %}{% endblock intro %}
                <hr size="6" color="navy">
                {% block quicklinks %}{% endblock quicklinks %}
                <hr size="6" color="navy">
                {% block biology %}{% endblock biology %}
                {% block chemistry %}{% endblock chemistry %}
                {% block history %}{% endblock history %}
                {% block ingout %}{% endblock ingout %}
                {% block references %}{% endblock references %}
                <u><a href="#{{ lab }}">Back to Top</a></u>
            </div>
        </div>
    </div>
</main>
<br>
{% endblock content %}

