{% extends "treatment/about_base.html" %}
{% load static %}
{% load treatment_extras %}

{% block extraquicklinks %}
<li><a href="#dosing">Dosing</a></li>
<li><a href="#sideeffects">Side Effects</a></li>
{% endblock extraquicklinks %}

{% block dosing %}
<h2 class="nested-container"><a id="dosing">Dosing</a></h2>
<hr size="6" color="white">
{% endblock dosing %}

{% block sideeffects %}
<h2 class="nested-container"><a id="sideeffects">Side Effects</a></h2>
<hr size="6" color="white">
{% endblock sideeffects %}
