{% extends "base.html" %}
{% load static %}
{% load treatment_extras %}

{% block content %}
<div class="container">
  <main>
    <div class="row">
      <div class="col">
        <div class="container gdc-default">
          {% block treatment_title %}
          <h1>
            {{ object|to_class_name }} ({{ object.created}})
          </h1>
          {% endblock treatment_title %}
          <ul>
            <li class="gdc-list">{{ object.dose }} {{ object.freq }} {% if object.prn == True %} as needed (PRN) {% endif %}</li>
            <li class="gdc-list">Side effects: {{ object.side_effects }}</li>
            <li class="gdc-list">Drug class: {{ object.drug_class }}</li>
            <li class="gdc-list">Logged: {{ object.created }}</li>
            <li class="gdc-list">Last modified: {{ object.modified }}</li>
          </ul>
          <a class="btn btn-primary" href="{% url 'treatment:update' object|to_class_name object.pk %}" role="button">Update</a>
      </div>
      </div>
    </div>
  </main>
  <br>
  {% block buttons %}
  <a class="btn btn-primary" href="" role="button">About: {{ object|to_class_name }}</a>
  <a class="btn btn-primary" href="{% url 'treatment:list' object|to_class_name %}" role="button">List: {{ object|to_class_name }}</a>
  <a class="btn btn-primary" href="{% url 'treatment:create' object|to_class_name %}" role="button">New: {{ object|to_class_name }}</a>
  <a class="btn btn-primary" href="{% url 'treatment:index' %}" role="button">Treatment Home</a>
  {% endblock buttons %}
</div>
{% endblock content %}
