  <h2 class="content-heading"><a id="references">References</a></h2>
  <ol>
    <li id=1>FitzGerald JD, Dalbeth N, Mikuls T, Brignardello-Petersen R, Guyatt G, Abeles AM, Gelber AC, Harrold LR,
      Khanna D, King C, Levy G, Libbey C, Mount D, Pillinger MH, Rosenthal A, Singh JA, Sims JE, Smith BJ, Wenger NS,
      Bae SS, Danve A, Khanna PP, Kim SC, Lenert A, Poon S, Qasim A, Sehra ST, Sharma TSK, Toprover M, Turgunbaev M,
      Zeng L, Zhang MA, Turner AS, Neogi T. 2020 American College of Rheumatology Guideline for the Management of Gout.
      Arthritis Care Res (Hoboken). 2020 Jun;72(6):744-760. doi: 10.1002/acr.24180. PMID: 32391934.<a
        href="https://pubmed.ncbi.nlm.nih.gov/32391934/" target="_blank"> https://doi.org/10.1525/9780520339484-005</a>
    </li>
    <li id=2>Abeles AM, Pillinger MH. Febuxostat and the Black Box Blues. ACR Open Rheumatol. 2019;1(6):343-344.
      Published 2019 Jul 11. doi:10.1002/acr2.11047.<a
        href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6858030/" target="_blank">
        https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6858030/</a>
    </li>
  </ol>
