{% extends "base_form.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block header %}
{% if form.instance.pk %}
<h1>Your ULT plan?</h1>
{% else %}
<h1>Make a ULT plan</h1>
{% endif %}
{% endblock header %}

{% block form %}
{% if form.instance.pk %}
<form class="form-horizontal" method="post" action="{% url 'ultaid:update' object.pk %}">
  {% csrf_token %}
  {% crispy form %}
</form>
{% else %}
<form class="form-horizontal" method="post" action="{% url 'ultaid:create' %}">
  {% csrf_token %}
  {% crispy form %}
</form>
{% endif %}
{% endblock form %}


{% block inline_javascript %}
<script>
// this is executed once when the page loads
  $(document).ready(function() {
  // set things up so my function will be called when first_flare
  $('#id_CKD-value').change(CKD_checker);
  CKD_checker.call($('#id_CKD-value').get(0));
  $('#id_organ_transplant-value').change(transplant_checker);
  transplant_checker.call($('#id_organ_transplant-value').get(0));
  });
  jQuery(function ($) {
    var path = window.location.href;
    $('li a').each(function () {
    if (this.href === path) {
    $(this).addClass('active');
    } else {
    $(this).removeClass('active');
    }
    });
  });
</script>
{% endblock inline_javascript %}

