{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="container">
  <div class="row">
    <div class="col default-container">
      {% block header %}
        {% include 'ultaid/header.html' %}
      {% endblock header %}
      {% block rationale %}
        {% include 'ultaid/rationale.html' %}
      {% endblock rationale %}
      {% block references %}
        {% include 'ultaid/references.html' %}
      {% endblock references %}
    </div>
  </div>
</main>
{% block footer %}
  <footer>
  </footer>
{% endblock footer %}
</main>
{% endblock content %}
