{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="container-fluid content-container">
  <div class="row">
    <div class="col">
      {% block header %}
        {% include 'ultaid/_header.html' %}
      {% endblock header %}
      {% block rationale %}
        {% include 'ultaid/_rationale.html' %}
      {% endblock rationale %}
      {% block references %}
        {% include 'ultaid/_references.html' %}
      {% endblock references %}
    </div>
  </div>
</main>
{% block footer %}
  <footer>
  </footer>
{% endblock footer %}
</main>
{% endblock content %}

{% block inline_javascript %}

{% endblock inline_javascript %}
