:root {
  --main-background: linear-gradient(to left top, rgb(255, 34, 225), rgb(240, 255, 29));
  --main-button-background-color: rgb(62, 67, 71);
  --main-button-border-color: rgb(231, 231, 231);
  --main-master-container-background-color: rgb(0, 8, 70);
  --main-master-container-border-style: solid;
  --main-master-container-border-width: medium;
  --main-master-container-border-color: rgb(0, 0, 0);
  --main-master-container-box-shadow: 10px 10px 5px rgb(47, 52, 124);
  --main-master-container-padding: 5px;
  --main-nested-container-background: linear-gradient(to right bottom, rgb(255, 34, 225), rgb(240, 255, 29));
  --main-nested-container-border-style: solid;
  --main-nested-container-border-width: medium;
  --main-nested-container-border-color: rgb(1, 14, 20);
  --main-nested-container-box-shadow: 10px 10px 5px rgb(240, 255, 29);
  --main-nested-container-padding: 5px;
  --main-master-sub-container-border-color: white; }

body {
  background: var(--main-background); }

.jumbotron {
  background: var(--main-nested-container-background);
  border-style: var(--main-nested-container-border-style);
  border-width: var(--main-nested-container-border-width);
  border-color: var(--main-nested-container-border-color);
  padding: var(--main-nested-container-padding);
  width: 100%;
  margin: 0px;
  padding: 0px; }

.asteriskField {
  display: none; }

.btn {
  background-color: var(--main-button-background-color);
  border-color: var(--main-button-border-color); }

.btn:hover {
  background-color: var(--main-button-border-color); }

.card {
  background: var(--main-nested-container-background); }

.card-columns {
  margin: auto;
  width: 100%; }

.default-container {
  border-style: var(--main-master-container-border-style);
  border-width: var(--main-master-container-border-width);
  border-color: var(--main-master-container-border-color);
  color: #e7e7e7;
  padding: var(--main-master-container-padding);
  background-color: var(--main-master-container-background-color); }

.sub-default-container {
  color: #e7e7e7;
  padding: var(--main-master-container-padding);
  background-color: var(--main-nested-container-background-color); }

.hyperlink:hover {
  color: black; }

.navbar {
  background: var(--main-nested-container-background); }

.nested-container {
  background: var(--main-nested-container-background);
  border-style: var(--main-nested-container-border-style);
  border-width: var(--main-nested-container-border-width);
  border-color: var(--main-nested-container-border-color);
  color: #e7e7e7;
  padding: var(--main-nested-container-padding); }

.list-items-small {
  background: var(--main-nested-container-background);
  border-style: var(--main-nested-container-border-style);
  border-width: var(--main-nested-container-border-width);
  border-color: var(--main-nested-container-border-color);
  padding: var(--main-nested-container-padding);
  margin: 5px;
  list-style-type: square; }

#profilepic {
  margin-left: 5px; }

.gdc-container-subcontainer {
  border-style: solid;
  border-width: medium;
  border-color: yellow;
  padding: 5px;
  background-color: yellow;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.pagination {
  margin: 0px !important; }

.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000; }

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48; }
