body {
  background-color: #d3d02d;
  color: rgba(5, 50, 148, 0.863); }

@media screen and (max-width: 600px) {
  h1 {
    font-size: 30px; }
  h2 {
    font-size: 20px; } }

.profile-container {
  background-color: rgba(5, 50, 148, 0.863);
  padding: 20px;
  color: #e7e7e7; }
  .profile-container .accordion-button {
    width: 100%;
    background-color: #d3d02d;
    color: rgba(5, 50, 148, 0.863);
    border-color: #e7e7e7; }
  .profile-container .accordion-body {
    background-color: #e7e7e7;
    color: rgba(5, 50, 148, 0.863); }
  .profile-container li, .profile-container ul {
    display: block; }
  .profile-container h1, .profile-container h2 {
    color: #d3d02d;
    padding: 0px;
    margin: 0px;
    font-weight: bold; }
  .profile-container .btn {
    background-color: #d3d02d;
    border-color: #e7e7e7;
    color: rgba(5, 50, 148, 0.863);
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    float: right; }
  .profile-container .active, .profile-container .btn:hover {
    background-color: rgba(180, 1, 224, 0.678);
    color: #e7e7e7; }
  .profile-container ol, .profile-container ul {
    padding-left: 10px; }
  .profile-container #edited {
    text-align: right; }

.content-container {
  background-color: rgba(5, 50, 148, 0.863);
  padding: 20px;
  color: #e7e7e7; }
  .content-container h1, .content-container h2 {
    color: #d3d02d;
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
    font-weight: bold; }
  .content-container h3 {
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px; }
  .content-container .btn {
    background-color: #d3d02d;
    border-color: #e7e7e7;
    color: rgba(5, 50, 148, 0.863);
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    float: right; }
  .content-container .active, .content-container .btn:hover {
    background-color: rgba(180, 1, 224, 0.678);
    color: #e7e7e7; }
  .content-container .content {
    border-color: #e7e7e7;
    border-width: 2px; }
  .content-container .content ul {
    list-style-type: none; }
  .content-container #FlareAid-btn {
    float: none; }
  .content-container #cardiac_risk_list ul {
    display: inline; }
  .content-container #treatment-create {
    float: left; }
  .content-container ol, .content-container ul {
    padding-left: 15px; }
  .content-container .media {
    padding: 0px;
    margin: 0px; }
  .content-container #edited {
    text-align: right; }
  .content-container .or {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.aidcreateupdate-form {
  background-color: rgba(5, 50, 148, 0.863);
  padding: 20px;
  color: #e7e7e7; }
  .aidcreateupdate-form h1, .aidcreateupdate-form h2 {
    color: #d3d02d;
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
    font-weight: bold; }
  .aidcreateupdate-form hr {
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px; }
  .aidcreateupdate-form .btn {
    background-color: #d3d02d;
    border-color: #e7e7e7;
    color: rgba(5, 50, 148, 0.863); }
  .aidcreateupdate-form .button {
    margin-top: 5px;
    padding: 10px; }
  .aidcreateupdate-form .active, .aidcreateupdate-form .btn:hover {
    background-color: rgba(180, 1, 224, 0.678);
    color: #e7e7e7; }
  .aidcreateupdate-form .form-group {
    margin: 0px;
    padding: 0px; }

.homepage #homepage-jumbotron {
  text-align: center;
  background-image: url("../images/TabMSU.jpg");
  background-color: #000000;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 0px;
  max-height: 300px;
  color: #d3d02d; }
  .homepage #homepage-jumbotron container-fluid {
    background-color: transparent;
    padding: 0px;
    opacity: 0%; }
  .homepage #homepage-jumbotron h1, .homepage #homepage-jumbotron h2 {
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
    font-weight: bold; }

@media screen and (max-width: 650px) {
  .homepage h1 {
    font-size: 70px; }
  .homepage h2 {
    font-size: 20px; } }

.card {
  background: rgba(5, 50, 148, 0.863);
  width: 288px;
  width: 18rem;
  height: 100%;
  color: #d3d02d;
  border-color: #e7e7e7;
  border-width: 2px; }

.btn {
  background-color: rgba(5, 50, 148, 0.863);
  border-color: #e7e7e7; }

.active, .btn:hover {
  background-color: rgba(5, 50, 148, 0.863);
  color: #d3d02d; }

.asteriskField {
  display: none; }

.nav-pills .nav-link.active {
  background-color: green; }

.hyperlink:hover {
  color: black; }

.list-items-small {
  background: var(--main-content-heading-background);
  border-style: var(--main-content-heading-border-style);
  border-width: var(--main-content-heading-border-width);
  border-color: var(--main-content-heading-border-color);
  padding: var(--main-content-heading-padding);
  margin: 5px;
  list-style-type: square; }

.pagination {
  margin: 0px !important; }

.ul-main-list {
  border-style: var(--main-master-container-border-style);
  border-width: var(--main-master-container-border-width);
  border-color: var(--main-master-container-border-color);
  color: #e7e7e7;
  padding: var(--main-master-container-padding);
  background-color: var(--main-master-container-background-color);
  list-style-position: inside; }

.ul-sub-list {
  color: #e7e7e7;
  padding: var(--sub-list-padding);
  background-color: var(--main-master-container-background-color);
  list-style-position: inside; }

.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000; }

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48; }
