{% load static i18n %}
<div class="mb-1">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark py-1">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">Gouthelper</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          {% if request.user.is_authenticated %}
            {% if request.user.role == "PATIENT" %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Flares
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'flare:create' %}">Calculator</a>
                  <a class="dropdown-item" href="{% url 'flareaid:create' %}">Helper</a>
                  <a class="dropdown-item" href="{% url 'flare:list' %}">List</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'flare:about' %}">About</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  ULT
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% if request.user.ult %}
                  <a class="dropdown-item" href="{% url 'ult:user-detail' request.user.username %}">Calculator</a>
                  {% else %}
                  <a class="dropdown-item" href="{% url 'ult:user-create' request.user.username %}">Calculator</a>
                  {% endif %}
                  {% if request.user.ultaid %}
                  <a class="dropdown-item" href="{% url 'ultaid:detail' request.user.ultaid.pk %}">Helper</a>
                  {% else %}
                  <a class="dropdown-item" href="{% url 'ultaid:user-create' request.user.username %}">Helper</a>
                  {% endif %}
                  {% if request.user.ppxaid %}
                  <a class="dropdown-item" href="{% url 'ppxaid:detail' request.user.ppxaid.pk %}">PPx</a>
                  {% else %}
                    {% if request.user.ultaid %}
                    <a class="dropdown-item" href="{% url 'ppxaid:ultaid-create' ultaid=request.user.ultaid.pk %}">PPx</a>
                    {% else %}
                    <a class="dropdown-item" href="{% url 'ppxaid:create' %}">PPx</a>
                    {% endif %}
                  {% endif %}
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'treatment:about-ult' %}">About</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ request.user|capfirst }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% if request.user.ultplan %}
                  <a class="dropdown-item" href="{% url 'ultplan:detail' request.user.ultplan.pk %}">ULTPlan</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'lab:index' %}">Labs</a>
                  {% endif %}
                  <a class="dropdown-item" href="{% url 'treatment:index' %}">Treatments</a>
                  <a class="dropdown-item" href="{% url 'users:detail' request.user.username  %}">{% trans "Profile" %}</a>
                </div>
              </li>
              {% elif request.user.role == "PROVIDER" %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ request.user|capfirst }}
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'users:detail' request.user.username  %}">{% trans "Profile" %}</a>
                      <a class="dropdown-item" href="{% url 'users:provider-patient-list' request.user.username %}">Patients</a>
                  </div>
                </li>
              {% endif %}
              <li class="nav-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a class="nav-link" href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>
              </li>
          {% else %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Flares
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'flare:create' %}">Calculator</a>
                <a class="dropdown-item" href="{% url 'flareaid:create' %}">Helper</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'flare:about' %}">About</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ULT
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'ult:create' %}">Calculator</a>

                <a class="dropdown-item" href="{% url 'ultaid:create' %}">Helper</a>

                  <a class="dropdown-item" href="{% url 'ppxaid:create' %}">PPx</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'treatment:about-ult' %}">About</a>
              </div>
            </li>
            <li class="nav-item">
              {# URL provided by django-allauth/account/urls.py #}
              <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
            </li>
            <li class="nav-item">
              {# URL provided by django-allauth/account/urls.py #}
              <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    </div>
