<div class="row">
  <div class="col">
    {% if object.calculator == "Indicated" or object.calculator == "Conditional" %}
    <h1><a href="{% url 'treatment:about-ult' %}">ULT</a>: Strongly Recommended
    </h1>
    </div>
  <div class="col">
    {% if request.user.is_authenticated %}
    <a class="btn btn-primary btn-lg" href="{% url 'ult:user-create' object.user.username %}" role="button" style="float: right;">Update</a>
    <a class="btn btn-primary btn-lg" href="{% url 'ultaid:user-ult-create' ult=object.slug username=object.user.username %}" role="button">ULT Helper</a>
    {% else %}
    <a class="btn btn-primary btn-lg" href="{% url 'ult:create' %}" role="button" style="float: right;">Recalculate</a>
    <a class="btn btn-primary btn-lg" href="{% url 'ultaid:ult-create' ult=object.pk %}" role="button">ULT Helper</a>
    {% endif %}
  </div>
</div>
<p>This means there is general medical consensus that you would benefit from ULT (urate-lowering therapy).
This is backed by scientific evidence that you will be better off with than without preventative treatment.</p>

<span>
{% if object.user %}
{{ object.user|capfirst }},
{% endif %}
Created: {{ object.created }}
</span>
{% elif object.calculator == "Conditional" %}
<h1><a href="{% url 'treatment:about-ult' %}">ULT</a>: Conditionally Recommended</h1>
<p>This means there is some general medical consensus that you would benefit from ULT (urate-lowering therapy), but it
  is not a "strong" recommendation.
  Generally, there is some scientific evidence that you will benefit, but it is not as robust as a strong recommendation.
  It is more a matter of expert opinion.</p>
<p>It's still a personal choice and you need to weigh the pros and cons of the decision for yourself.</p>
{% elif object.calculator == "Dialysis" %}
<h1><a href="{% url 'treatment:about-ult' %}">ULT</a>: dialysis.</h2>
<p>Dialysis removes uric acid from your body, thus you don't need ULT (urate-lowering therapy) for this purpose.</p>
{% else %}
<h1>ULT Not Indicated</h1>
<p>ULT is not recommended for your gout.</p>
{% endif %}
<hr class="my-6" color="white">


