{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% crispy ultform ultform.helper %}



{% block content %}
  {% if form.instance.pk %}
  <h1>Do you still need urate-lowering therapy (ULT)?</h1>
    <form class="form-horizontal" method="post" action="{% url 'ult:update' object.pk %}">
    {% csrf_token %}
    {% crispy form %}
    </form>
  {% else %}
  <h1>Is Urate-lowering Therapy for You?</h1>
    <form class="form-horizontal" method="post" action="{% url 'ult:create' %}">
      {% csrf_token %}
      {% crispy form %}
    </form>
  {% endif %}
{% endblock content %}

{% block inline_javascript %}
<script>
    // this is executed once when the page loads
  $(document).ready(function() {
    // set things up so my function will be called when first_flare
    $('#id_num_flares').change(check_first_flare);
      check_first_flare.call($('#id_num_flares').get(0));
    $('#id_num_flares').change(one_flare);
      one_flare.call($('#id_num_flares').get(0));
    });
</script>
{% endblock inline_javascript %}
