{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="container">
  <div class="row">
    <div class="col default-container">
{% block header %}
  {% include 'ult/header.html' %}
{% endblock header %}
{% block rationale %}
  {% include 'ult/rationale.html' %}
{% endblock rationale %}
{% block references %}
  <h2 class="nested-container"><a id="references">References</a></h2>
  <ol>
    <li id=1>FitzGerald JD, Dalbeth N, Mikuls T, Brignardello-Petersen R, Guyatt G, Abeles AM, Gelber AC, Harrold LR, Khanna D, King C, Levy G, Libbey C, Mount D, Pillinger MH, Rosenthal A, Singh JA, Sims JE, Smith BJ, Wenger NS, Bae SS, Danve A, Khanna PP, Kim SC, Lenert A, Poon S, Qasim A, Sehra ST, Sharma TSK, Toprover M, Turgunbaev M, Zeng L, Zhang MA, Turner AS, Neogi T. 2020 American College of Rheumatology Guideline for the Management of Gout. Arthritis Care Res (Hoboken). 2020 Jun;72(6):744-760. doi: 10.1002/acr.24180. PMID: 32391934.<a href="https://pubmed.ncbi.nlm.nih.gov/32391934/" target="_blank"> https://doi.org/10.1525/9780520339484-005</a></li>
    <li id=2>Zhu, Yanyan, Bhavik J. Pandya, and Hyon K. Choi. "Comorbidities of gout and hyperuricemia in the US general population: NHANES 2007-2008." <a href="https://www.sciencedirect.com/science/article/pii/S0002934312001891" target="_blank">The American journal of medicine 125.7 (2012): 679-687</a>.</li>
    <li id=3>Krishnan, Eswar. "Reduced glomerular function and prevalence of gout: NHANES 2009–10." <a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0050046" target="_blank">PloS one 7.11 (2012): e50046</a>.</li>
  </ol>
{% endblock references %}
</div>
</div>
</main>
  <footer>

  {% if object.calculator == "abstain" %}
  <a class="btn btn-primary btn-lg" href="{% url 'treatment:ult' %}" role="button">About</a>
  {% elif object.calculator == "conditional" %}
  <a class="btn btn-primary btn-lg" href="{% url 'treatment:ult' %}" role="button">About</a>
  {% else %}
  <a class="btn btn-primary btn-lg" href="{% url 'treatment:ult' %}" role="button">About</a>
  {% endif %}
  </footer>
</main>
{% endblock content %}
