{% extends "base_form.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block header %}
{% if form.instance.pk %}
<h1 class="nested-container">Do you still need urate-lowering therapy (ULT)?</h1>
{% else %}
<h1 class="nested-container">Do you need urate-lowering therapy (ULT)?</h1>
{% endif %}
{% endblock header %}

{% block form %}
  {% if form.instance.pk %}
    <form class="form-horizontal" method="post" action="{% url 'ult:update' object.pk %}">
    {% csrf_token %}
    {% crispy form %}
    </form>
  {% else %}
    <form class="form-horizontal" method="post" action="{% url 'ult:create' %}">
      {% csrf_token %}
      {% crispy form %}
    </form>
  {% endif %}
{% endblock form %}

{% block inline_javascript %}
<script>
    // this is executed once when the page loads
  $(document).ready(function() {
    // set things up so my function will be called when first_flare
    $('#id_num_flares').change(check_first_flare);
      check_first_flare.call($('#id_num_flares').get(0));
    $('#id_num_flares').change(one_flare);
      one_flare.call($('#id_num_flares').get(0));
    // Check for checked subfields after loading other functions, otherwise the first two will hide the subfields
    check_subfields();
    });
</script>
{% endblock inline_javascript %}
