{% extends "base_form.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block header %}
{% if form.instance.pk %}
<h1 class="nested-container">Do you still need urate-lowering therapy (ULT)?</h1>
{% else %}
{% endif %}
{% endblock header %}

{% block form %}
  {% if form.instance.pk %}
    <form class="form-horizontal" method="post" action="{% url 'ult:update' object.pk %}">
    {% csrf_token %}
    {% crispy form %}
    </form>
  {% else %}
    <div class="jumbotron">
    <h1 class="default-container">Urate-lowering therapy (ULT)</h1>
    <p class="lead">Urate-lowering therapy is the cornerstone of chronic management of gout. For people with persistent gout, it can literally be life-changing.</p>
    <hr class="my-4">
    <p>Not everyone who has gout needs chronic management and there is some nuance to starting ULT, particularly in the first 12 months of therapy.</p>
    <h2 class="default-container">Answer a few simple questions below to find out if ULT is for you.</h2>
  </div>
    <form class="form-horizontal" method="post" action="{% url 'ult:create' %}">
      {% csrf_token %}
      {% crispy form %}
    </form>
  {% endif %}
{% endblock form %}

{% block inline_javascript %}
<script>
    // this is executed once when the page loads
  $(document).ready(function() {
    // set things up so my function will be called when first_flare
    $('#id_num_flares').change(check_first_flare);
      check_first_flare.call($('#id_num_flares').get(0));
    $('#id_num_flares').change(one_flare);
      one_flare.call($('#id_num_flares').get(0));
    });
</script>
{% endblock inline_javascript %}
