{% extends "base.html" %}
{% load static %}

{% block content %}
<main>
  <div class="jumbotron-fluid default-container">
    <div class="container-fluid">
      <h1 class="nested-container">{{ object.calculator }}</h1>
      <p>Urate-lowering therapy (ULT) is indicated for your gout. This means there is some general medical consensus that you would benefit from ULT.</p>
      <p>It's still a personal choice and you need to weigh the pros and cons of the decision for yourself.
      <hr class="my-4">
      <div class="row">
        <div class="col">
          <h2 class="nested-container">Indications and Contraindications to ULT</h2>
          <ul>
            {% if object.num_flares %}
              <li>Number of flares reported: {{ object.num_flares }}</li>
                <ul>
                  {% if object.num_flares == 'zero' %}
                  <li>Not ever having a gout flare is a strong recommendation against using urate-lowering therapy.</li>
                  {% endif %}
                </ul>
            {% endif %}
            {% if object.freq_flares %}
              <li>Frequency of flares: {{ object.freq_flares }} per year </li>
                <ul>
                  {% if object.freq_flares == 'one' %}
                  <li>Generally, only having 1 flare per year isn't burdensome enough to warrant daily medication on an indefinite basis. There are, however, exceptions to this, such as when you have erosions, tophi, hyperuricemia, CKD, or urate kidney stones.</li>
                  {% endif %}
                </ul>
            {% endif %}
            {% if object.erosions %}
              <li>Erosions present on x-rays or other imaging: yes</li>
            {% else %}
              <li>Erosions present on x-rays or other imaging: no</li>
            {% endif %}
            {% if object.tophi %}
              <li>Tophi: yes</li>
            {% else %}
              <li>Tophi: no</li>
            {% endif %}
            {% if object.stones %}
              <li>Urate kidney stones: yes</li>
            {% else %}
              <li>Urate kidney stones: no</li>
            {% endif %}
            {% if object.ckd %}
              <li>Chronic kidney disease: yes</li>
            {% else %}
              <li>Chronic kidney disease: no</li>
            {% endif %}
            {% if object.uric_acid %}
              <li>Uric acid > 9.0: yes</li>
            {% else %}
              <li>Uric acid > 9.0: no</li>
            {% endif %}
            <li>Created: {{ object.created }}</li>
            {% if object.modified %}
              <li>Last modified: {{ object.modified }}</li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <footer>
  {% if request.user.is_authenticated %}
  <a class="btn btn-primary btn-lg" href="{% url 'ult:create' %}" role="button">Update</a>
  {% else %}
  <a class="btn btn-primary btn-lg" href="{% url 'ult:create' %}" role="button">Recalculate</a>
  {% endif %}
  {% if object.calculator == "abstain" %}
  <a class="btn btn-primary btn-lg" href="{% url 'treatment:ult' %}" role="button">About</a>
  {% elif object.calculator == "conditional" %}
  <a class="btn btn-primary btn-lg" href="{% url 'treatment:ult' %}" role="button">About</a>
  {% else %}
  <a class="btn btn-primary btn-lg" href="{% url 'treatment:ult' %}" role="button">About</a>
  {% endif %}
  </footer>
</main>
{% endblock content %}
