// _aid_detail.scss

// Aid Detail Colors
$aid-container-background: rgb(0, 8, 70);
$aid-container-color: white;

// Aid Detail Container Styling
$aid-container-border-width: solid;
$aid-container-border-style: medium;
$aid-container-border-color: white;
$aid-container-padding: 5px;
