.asteriskField {
  display: none;
}

.flare-mini-detail-list {
  border-style: solid;
  border-width: medium;
  border-color: rgb(1, 14,20);
  padding: 5px;
  background-color: green;
}

.flare-index-column {
  border-style: solid;
  border-width: medium;
  border-color: rgb(1, 14,20);
  padding: 5px;
  background-color: green;
}

.gdc-container-subcontainer {
  border-style: solid;
  border-width: medium;
  border-color: yellow;
  padding: 5px;
  background-color: yellow;
}
.gdc-default {
  border-style: solid;
  border-width: medium;
  border-color: rgb(97, 27, 0);
  padding: 5px;
  background-color: rgb(67, 137, 179);
}

.pagination {
  margin: 0px !important;
  }
  
.gdc-legend {
  border-style: solid;
  border-width: medium;
  border-color: rgb(97, 27, 0);
  padding: 5px;
  background-color: rgb(143, 212, 137);
}

.gdc-list {
  border-style: solid;
  border-width: medium;
  border-color: rgb(97, 27, 0);
  background-color: rgb(143, 212, 137);
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px;
  list-style-type: square;
}

.gdc-default-list {
  border-style: solid;
  border-width: medium;
  border-color: rgb(1, 14,20);
  padding: 5px;
  background-color: rgb(134, 132, 233);
}

.ult-index-jumbotron {
  border-style: solid;
  border-width: medium;
  border-color: rgb(1, 14,20);
  padding: 5px;
}

.user-profile-media {
  border-style: solid;
  border-width: medium;
  border-color: rgb(1, 14,20);
  padding: 5px;
  background-color: rgb(134, 132, 233);
}

.user-flare-list {
  border-style: solid;
  border-width: medium;
  border-color: rgb(1, 14,20);
  padding: 5px;
  background-color: rgb(134, 132, 233);
}

.user-ULT-list {
  border-style: solid;
  border-width: medium;
  border-color: rgb(1, 14,20);
  padding: 5px;
  background-color: rgb(134, 132, 233);
}

.treatment-index {
  border-style: solid;
  border-width: medium;
  border-color: rgb(1, 14,20);
  padding: 5px;
  background-color: rgb(95, 173, 95);
}

// project specific CSS goes here
body {
  background-color: yellow;
}

////////////////////////////////
		//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}
