$background-color: rgba(253, 237, 237, 0.913);
$background-color-sub: rgba(170, 168, 19, 0.726);
$content-color: rgba(0, 5, 53, 0.863);
$h1-container-color: $background-color;
$text-color: rgba(0, 5, 53, 0.863);
$border-color: rgb(51, 49, 49);
$active-button-color: rgba(180, 1, 224, 0.678);

// Site-wide CSS
body {
    padding: 0;
    margin: 0;
    background: $text-color;
    background-color: $background-color;
}
.navbar {
    background: $background-color;
}
.nav-link,
.navbar-brand {
    color: $text-color;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}


@media screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }
}

.profile-container {
  background-color: $content-color;
  padding: 20px;
  color: $text-color;

  .accordion-button {
    width: 100%;
    background-color: $background-color;
    color: $content-color;
    border-color: $border-color;
  }

  .accordion-body {
    background-color: $border-color;
    color: $content-color;
  }

  li, ul {
      display: block;
    }

  h1, h2 {
    color: $background-color;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
  };

  .btn {
    background-color: $background-color;
    border-color: $border-color;
    color: $text-color;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    float: right;
  };

  .active,.btn:hover {
    background-color: $active-button-color;
    color: $text-color;
  };

  ol, ul {
    padding-left: 10px;
  };

  #edited {
    text-align: right;
  };
}

.content-container {
  background-color: $content-color;
  padding: 20px;
  color: $text-color;

  h1,h2 {
    color: $text-color;
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
    font-weight: bold;
  };

  h3 {
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
  }

  .btn {
    background-color: $background-color;
    border-color: $border-color;
    color: $content-color;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    float: right;
  }

  .active, .btn:hover {
    background-color: $active-button-color;
    color: $text-color;
  };

  .content-item {
    border-color: $border-color;
    border-width: 2px;
  }

  .content-item ul {
    list-style-type: none;
  }

  #FlareAid-btn {
    float: none;
  }

  #cardiac_risk_list ul {
    display: inline;
  }

  #treatment-create {
    float: left;
  }

  ol, ul {
    padding-left: 15px;
  };

  .media {
    padding: 0px;
    margin: 0px;
  }

  #edited {
    text-align: right;
  };

  .or {
  display: flex;
  justify-content: center;
  align-items: center;
  };
}

// For Forms
.form-header {
    h1 {
    color: $text-color;
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
    font-weight: bold;
  };
}

.form-submit-button {
  margin-bottom: 3px;
}

.form-horizontal {
  legend {
    margin-left: -0.6em;
  };
  hr {
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid $text-color;
  }
}

.form {
  background-color: $content-color;
  padding: 20px;
  color: $text-color;
  border-color: $border-color;
  border-width: 2px;

  h1, h2 {
    color: $text-color;
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
    font-weight: bold;
  };

  hr {
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid $text-color;
  }

  .btn {
    background-color: $background-color;
    border-color: $border-color;
    color: $text-color;
  }

  .button {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
  };

  .active, .btn:hover {
    background-color: $active-button-color;
    color: $text-color;
  };

  .form-group {
    margin: 0px;
    padding: 0px;
  };
  label[for="id_CKD-stage_0"] {
    text-indent: 23px;
  };
  #hint_id_CKD-stage {
    text-indent: 23px;
  };
}


.header {
  margin: 0;
  border-top: 0px;
}

// Homepage-specific stuff
#homepage-header {
    background-image: url("../images/MSU_Crystals_1920x1280_forweb.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0;
    padding: 0;

    .overlay {
        position: absolute;
        min-height: 100%;
        min-width: 100%;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.6);
        margin: 0;
        padding: 0;
    }
    .description {
      left: 50%;
      position: absolute;
      top: 45%;
      transform: translate(-50%, -55%);
      text-align: center;
    }
    .description h1 {
      color: #6ab446;
    }
    .description p {
      color: #fff;
      font-size: 1.3rem;
      line-height: 1.5;
    }
    .description button {
    border:1px solid #6ab446;
    background:#6ab446;
    border-radius: 0;
    color:#fff;
    }
    .description button:hover {
      border:1px solid #fff;
        background:#fff;
        color:#000;
    }
}

#homepage-main {
  .features {
    margin: 4em auto;
    padding: 1em;
    position: relative;
  }
  .feature-title {
    color: #333;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .features img {
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 16px;
  }
  .features .form-control,
  .features input {
    border-radius: 0;
  }
  .features .btn {
      background-color: #589b37;
      border: 1px solid #589b37;
      color: #fff;
      margin-top: 20px;
  }
  .features .btn:hover {
      background-color: #333;
      border: 1px solid #333;
  }
}

// Footer stuff
.page-footer {
  background-color: $background-color;
  color: #ccc;
  padding: 60px 0 30px;
}
.footer-copyright {
    color: #666;
    padding: 40px 0;
}

@media screen and (max-width: 650px) {
  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 20px;
  }
}


.card {
  background: $content-color;
  height: 100%;
  color: $text-color;
  border-color: $border-color;
  border-width: 2px;
}

.btn {
  background-color: $content-color;
  border-color: $border-color;
}

.active, .btn:hover {
  background-color: $content-color;
  color: $text-color;
}

.asteriskField {
  display: none;
}

.nav-pills .nav-link.active {
  background-color: green;
}

.hyperlink:hover {
  color: black;
}

.list-items-small {
  background: var(--main-content-heading-background);
  border-style: var(--main-content-heading-border-style);
  border-width: var(--main-content-heading-border-width);
  border-color: var(--main-content-heading-border-color);
  padding: var(--main-content-heading-padding);
  margin: 5px;
  list-style-type: square;
}

.pagination {
  margin: 0px !important;
}

.ul-main-list {
  border-style: var(--main-master-container-border-style);
  border-width: var(--main-master-container-border-width);
  border-color: var(--main-master-container-border-color);
  color: rgb(231, 231, 231);
  padding: var(--main-master-container-padding);
  background-color: var(--main-master-container-background-color);
  list-style-position: inside;
}

.ul-sub-list {
  color: rgb(231, 231, 231);
  padding: var(--sub-list-padding);
  background-color: var(--main-master-container-background-color);
  list-style-position: inside;
}

// project specific CSS goes here

////////////////////////////////
//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////////////////////////
//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}
